openapi: 3.2.0
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient Integration Account Assemblies API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountAssemblies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies
  : get:
      description: List the assemblies for an integration account.
      operationId: IntegrationAccountAssemblies_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssemblyCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountAssemblies
      x-ms-examples:
        List integration account assemblies:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/assemblies/testAssembly
                  name: testAssembly
                  properties:
                    assemblyName: System.IdentityModel.Tokens.Jwt
                    assemblyVersion: 0.0.0.0
                    changedTime: '2017-02-24T18:45:23.4137139Z'
                    contentLink:
                      contentHash:
                        algorithm: md5
                        value: A2avz/M0ov2FPI3+Je8vDw==
                      contentSize: 3056
                      contentVersion: '"0x8D45CE54B058881"'
                      uri: <Uri>
                    createdTime: '2017-02-24T18:45:23.4129778Z'
                    metadata: {}
                  type: Microsoft.Logic/integrationAccounts/assemblies
      x-ms-pageable:
        nextLinkName: null
      summary: Azure Logic Apps Integration Account Assemblies_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies/{assemblyArtifactName}
  : delete:
      description: Delete an assembly for an integration account.
      operationId: IntegrationAccountAssemblies_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The assembly artifact name.
        in: path
        name: assemblyArtifactName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountAssemblies
      x-ms-examples:
        Delete an integration account assembly:
          parameters:
            api-version: '2019-05-01'
            assemblyArtifactName: testAssembly
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Account Assemblies_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get an assembly for an integration account.
      operationId: IntegrationAccountAssemblies_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The assembly artifact name.
        in: path
        name: assemblyArtifactName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssemblyDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountAssemblies
      x-ms-examples:
        Get an integration account assembly:
          parameters:
            api-version: '2019-05-01'
            assemblyArtifactName: testAssembly
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/assemblies/testAssembly
                name: testAssembly
                properties:
                  assemblyName: System.IdentityModel.Tokens.Jwt
                  assemblyVersion: 0.0.0.0
                  changedTime: '2017-02-24T18:45:23.4137139Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D45CE54B058881"'
                    uri: <Uri>
                  createdTime: '2017-02-24T18:45:23.4129778Z'
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/assemblies
      summary: Azure Logic Apps Integration Account Assemblies_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Create or update an assembly for an integration account.
      operationId: IntegrationAccountAssemblies_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The assembly artifact name.
        in: path
        name: assemblyArtifactName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssemblyDefinition'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssemblyDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountAssemblies
      x-ms-examples:
        Create or update an account assembly:
          parameters:
            api-version: '2019-05-01'
            assemblyArtifact:
              location: westus
              properties:
                assemblyName: System.IdentityModel.Tokens.Jwt
                content: Base64 encoded Assembly Content
                metadata: {}
            assemblyArtifactName: testAssembly
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/assemblies/testAssembly
                name: testAssembly
                properties:
                  assemblyName: System.IdentityModel.Tokens.Jwt
                  assemblyVersion: 0.0.0.0
                  changedTime: '2017-02-24T18:45:23.4137139Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D45CE54B058881"'
                    uri: <Uri>
                  createdTime: '2017-02-24T18:45:23.4129778Z'
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/assemblies
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/assemblies/testAssembly
                name: testAssembly
                properties:
                  assemblyName: System.IdentityModel.Tokens.Jwt
                  assemblyVersion: 0.0.0.0
                  changedTime: '2017-02-24T18:45:23.4137139Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D45CE54B058881"'
                    uri: <Uri>
                  createdTime: '2017-02-24T18:45:23.4129778Z'
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/assemblies
      summary: Azure Logic Apps Integration Account Assemblies_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssemblyDefinition'
        description: The assembly artifact.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies/{assemblyArtifactName}/listContentCallbackUrl
  : post:
      description: Get the content callback url for an integration account assembly.
      operationId: IntegrationAccountAssemblies_ListContentCallbackUrl
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The assembly artifact name.
        in: path
        name: assemblyArtifactName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountAssemblies
      x-ms-examples:
        Get the callback url for an integration account assembly:
          parameters:
            api-version: '2019-05-01'
            assemblyArtifactName: testAssembly
            integrationAccountName: testIntegrationAccount
            listContentCallbackUrl:
              keyType: Primary
              notAfter: '2018-04-19T16:00:00Z'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                basePath: https://prod-00.westus.logic.azure.com/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/assemblies/testAssembly/contents/Value
                method: GET
                queries:
                  api-version: 2015-08-01-preview
                value: https://prod-00.westus.logic.azure.com:443/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/assemblies/testAssembly/contents/Value?api-version=2015-08-01-preview&sp=%2Fassemblies%2FtestAssembly%2Fread&sv=1.0&sig=VK_mbQPTHTa3ezhsrI8IctckwjlL3GdJmroQH_baYj4
      summary: Azure Logic Apps Integration Account Assemblies_ List Content Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    AssemblyProperties:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ArtifactContentPropertiesDefinition'
      description: The assembly properties definition.
      properties:
        assemblyCulture:
          description: The assembly culture.
          type: string
        assemblyName:
          description: The assembly name.
          type: string
        assemblyPublicKeyToken:
          description: The assembly public key token.
          type: string
        assemblyVersion:
          description: The assembly version.
          type: string
      required:
      - assemblyName
      type: object
    Object:
      properties: {}
      type: object
    AssemblyCollection:
      description: A collection of assembly definitions.
      properties:
        value:
          items:
            $ref: '#/components/schemas/AssemblyDefinition'
          type: array
      type: object
    WorkflowTriggerCallbackUrl:
      description: The workflow trigger callback URL.
      properties:
        basePath:
          description: Gets the workflow trigger callback URL base path.
          readOnly: true
          type: string
        method:
          description: Gets the workflow trigger callback URL HTTP method.
          readOnly: true
          type: string
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
        relativePath:
          description: Gets the workflow trigger callback URL relative path.
          readOnly: true
          type: string
        relativePathParameters:
          description: Gets the workflow trigger callback URL relative path parameters.
          items:
            type: string
          type: array
        value:
          description: Gets the workflow trigger callback URL.
          readOnly: true
          type: string
      type: object
    Resource:
      description: The base resource type.
      properties:
        id:
          description: The resource id.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    ArtifactContentPropertiesDefinition:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ArtifactProperties'
      description: The artifact content properties definition.
      properties:
        content: {}
        contentLink:
          $ref: '#/components/schemas/ContentLink'
          description: The content link.
        contentType:
          description: The content type.
          type: string
      type: object
    ContentHash:
      description: The content hash.
      properties:
        algorithm:
          description: The algorithm of the content hash.
          type: string
        value:
          description: The value of the content hash.
          type: string
      type: object
    ArtifactProperties:
      additionalProperties: false
      description: The artifact properties definition.
      properties:
        changedTime:
          description: The artifact changed time.
          format: date-time
          type: string
        createdTime:
          description: The artifact creation time.
          format: date-time
          type: string
        metadata: {}
      type: object
    ContentLink:
      description: The content link.
      properties:
        contentHash:
          $ref: '#/components/schemas/ContentHash'
          description: The content hash.
        contentSize:
          description: The content size.
          format: int64
          type: integer
        contentVersion:
          description: The content version.
          type: string
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
        uri:
          description: The content link URI.
          type: string
      type: object
    AssemblyDefinition:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The assembly definition.
      properties:
        properties:
          $ref: '#/components/schemas/AssemblyProperties'
          description: The assembly properties.
      required:
      - properties
      type: object
    WorkflowTriggerListCallbackUrlQueries:
      description: Gets the workflow trigger callback URL query parameters.
      properties:
        api-version:
          description: The api version.
          type: string
        se:
          description: The SAS timestamp.
          type: string
        sig:
          description: The SAS signature.
          type: string
        sp:
          description: The SAS permissions.
          type: string
        sv:
          description: The SAS version.
          type: string
      type: object
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
      type: object
  parameters:
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
