swagger: '2.0'
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient IntegrationAccountAgreements Operations API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.Logic/operations:
    get:
      description: Lists all of the available Logic REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Operations
      x-ms-examples:
        List Microsoft.Logic operations:
          parameters:
            api-version: '2019-05-01'
          responses:
            '200':
              body:
                value:
                - display:
                    description: Gets the operation.
                    operation: Get Operation
                    provider: Microsoft Logic
                    resource: Operation
                  name: Microsoft.Logic/operations/read
                - display:
                    description: Registers the Microsoft.Logic resource provider for a given subscription.
                    operation: Register Resource Provider
                    provider: Microsoft Logic
                    resource: Resource Provider
                  name: Microsoft.Logic/register/action
                - display:
                    description: Validates the workflow.
                    operation: Validate Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/locations/workflows/validate/action
                - display:
                    description: Reads the workflow.
                    operation: Get Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/read
                - display:
                    description: Creates or updates the workflow.
                    operation: Set Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/write
                - display:
                    description: Deletes the workflow.
                    operation: Delete Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/delete
                - display:
                    description: Starts a run of the workflow.
                    operation: Run Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/run/action
                - display:
                    description: Disables the workflow.
                    operation: Disable Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/disable/action
                - display:
                    description: Enables the workflow.
                    operation: Enable Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/enable/action
                - display:
                    description: Suspends the workflow.
                    operation: Suspend Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/suspend/action
                - display:
                    description: Validates the workflow.
                    operation: Validate Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/validate/action
                - display:
                    description: Moves Workflow from its existing subscription id, resource group, and/or name to a different subscription id, resource group, and/or name.
                    operation: Move Workflow
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/move/action
                - display:
                    description: Gets the workflow swagger definitions.
                    operation: Get workflow swagger
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/listSwagger/action
                - display:
                    description: Reads the workflow version.
                    operation: Get Workflow Version
                    provider: Microsoft Logic
                    resource: Workflow Version
                  name: Microsoft.Logic/workflows/versions/read
                - display:
                    description: Gets the callback URL for trigger.
                    operation: List Trigger Callback URL
                    provider: Microsoft Logic
                    resource: Trigger
                  name: Microsoft.Logic/workflows/versions/triggers/listCallbackUrl/action
                - display:
                    description: Reads the access key.
                    operation: Get Access Key
                    provider: Microsoft Logic
                    resource: Access Key
                  name: Microsoft.Logic/workflows/accessKeys/read
                - display:
                    description: Creates or updates the access key.
                    operation: Set Access Key
                    provider: Microsoft Logic
                    resource: Access Key
                  name: Microsoft.Logic/workflows/accessKeys/write
                - display:
                    description: Deletes the access key.
                    operation: Delete Access Key
                    provider: Microsoft Logic
                    resource: Access Key
                  name: Microsoft.Logic/workflows/accessKeys/delete
                - display:
                    description: Lists the access key secrets.
                    operation: List Access Key
                    provider: Microsoft Logic
                    resource: Access Key
                  name: Microsoft.Logic/workflows/accessKeys/list/action
                - display:
                    description: Regenerates the access key secrets.
                    operation: Regenerate Access Key
                    provider: Microsoft Logic
                    resource: Access Key
                  name: Microsoft.Logic/workflows/accessKeys/regenerate/action
                - display:
                    description: Regenerates the access key secrets.
                    operation: Regenerate Access Key
                    provider: Microsoft Logic
                    resource: Access Key
                  name: Microsoft.Logic/workflows/regenerateAccessKey/action
                - display:
                    description: Gets the callback URL for workflow.
                    operation: List workflow callback URL
                    provider: Microsoft Logic
                    resource: Workflow
                  name: Microsoft.Logic/workflows/listCallbackUrl/action
                - display:
                    description: Reads the trigger.
                    operation: Get Trigger
                    provider: Microsoft Logic
                    resource: Trigger
                  name: Microsoft.Logic/workflows/triggers/read
                - display:
                    description: Executes the trigger.
                    operation: Trigger Run
                    provider: Microsoft Logic
                    resource: Trigger
                  name: Microsoft.Logic/workflows/triggers/run/action
                - display:
                    description: Resets the trigger.
                    operation: Trigger Reset
                    provider: Microsoft Logic
                    resource: Trigger
                  name: Microsoft.Logic/workflows/triggers/reset/action
                - display:
                    description: Sets the trigger state.
                    operation: Set Trigger State
                    provider: Microsoft Logic
                    resource: Trigger
                  name: Microsoft.Logic/workflows/triggers/setState/action
                - display:
                    description: Reads the trigger histories.
                    operation: Get Trigger Histories
                    provider: Microsoft Logic
                    resource: Trigger Histories
                  name: Microsoft.Logic/workflows/triggers/histories/read
                - display:
                    description: Resubmits the workflow trigger.
                    operation: Resubmit trigger
                    provider: Microsoft Logic
                    resource: Trigger Histories
                  name: Microsoft.Logic/workflows/triggers/histories/resubmit/action
                - display:
                    description: Gets the callback URL for trigger.
                    operation: List Trigger Callback URL
                    provider: Microsoft Logic
                    resource: Trigger
                  name: Microsoft.Logic/workflows/triggers/listCallbackUrl/action
                - display:
                    description: Reads the workflow run.
                    operation: Get Workflow Run
                    provider: Microsoft Logic
                    resource: Workflow Run
                  name: Microsoft.Logic/workflows/runs/read
                - display:
                    description: Cancels the run of a workflow.
                    operation: Cancel Workflow Run
                    provider: Microsoft Logic
                    resource: Workflow Run
                  name: Microsoft.Logic/workflows/runs/cancel/action
                - display:
                    description: Reads the workflow run operation status.
                    operation: Get Workflow Run Operation Status
                    provider: Microsoft Logic
                    resource: Workflow Run Operation
                  name: Microsoft.Logic/workflows/runs/operations/read
                - display:
                    description: Reads the workflow run action.
                    operation: Get Workflow Run Action
                    provider: Microsoft Logic
                    resource: Workflow Run Action
                  name: Microsoft.Logic/workflows/runs/actions/read
                - display:
                    description: Reads the workflow run action repetition.
                    operation: Get Workflow Run Action Repetition
                    provider: Microsoft Logic
                    resource: Workflow Run Action Repetition
                  name: Microsoft.Logic/workflows/runs/actions/repetitions/read
                - display:
                    description: Reads the workflow run action scope repetition.
                    operation: Get Workflow Run Action Scope Repetition
                    provider: Microsoft Logic
                    resource: Workflow Run Action Scope Repetition
                  name: Microsoft.Logic/workflows/runs/actions/scoperepetitions/read
                - display:
                    description: Reads the workflow run action request history.
                    operation: Gets the workflow run action request history
                    provider: Microsoft Logic
                    resource: Workflow run action request history
                  name: Microsoft.Logic/workflows/runs/actions/requestHistories/read
                - display:
                    description: Reads the workflow run repetition action request history.
                    operation: Gets the workflow run repetition action request history
                    provider: Microsoft Logic
                    resource: Workflow run repetition action request history
                  name: Microsoft.Logic/workflows/runs/actions/repetitions/requestHistories/read
                - display:
                    description: Reads the workflow diagnostic settings.
                    operation: Get Workflow Diagnostic Setting
                    provider: Microsoft Logic
                    resource: Workflow Diagnostic Setting
                  name: Microsoft.Logic/workflows/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: System
                - display:
                    description: Creates or updates the workflow diagnostic setting.
                    operation: Set Workflow Diagnostic Setting
                    provider: Microsoft Logic
                    resource: Workflow Diagnostic Setting
                  name: Microsoft.Logic/workflows/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: System
                - display:
                    description: Reads the workflow metric definitions.
                    operation: Get Workflow Metric Definition
                    provider: Microsoft Logic
                    resource: Workflow Metric Definition
                  name: Microsoft.Logic/workflows/providers/Microsoft.Insights/metricDefinitions/read
                  origin: System
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow runs started.
                        displayName: Runs Started
                        fillGapWithZero: true
                        name: RunsStarted
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow runs completed.
                        displayName: Runs Completed
                        fillGapWithZero: true
                        name: RunsCompleted
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow runs succeeded.
                        displayName: Runs Succeeded
                        fillGapWithZero: true
                        name: RunsSucceeded
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow runs failed.
                        displayName: Runs Failed
                        fillGapWithZero: true
                        name: RunsFailed
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow runs cancelled.
                        displayName: Runs Cancelled
                        fillGapWithZero: true
                        name: RunsCancelled
                        unit: Count
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of completed workflow runs.
                        displayName: Run Latency
                        fillGapWithZero: false
                        name: RunLatency
                        unit: Seconds
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of succeeded workflow runs.
                        displayName: Run Success Latency
                        fillGapWithZero: false
                        name: RunSuccessLatency
                        unit: Seconds
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow action or trigger throttled events.
                        displayName: Run Throttled Events
                        fillGapWithZero: true
                        name: RunThrottledEvents
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Percentage of workflow runs failed.
                        displayName: Run Failure Percentage
                        fillGapWithZero: true
                        name: RunFailurePercentage
                        unit: Percent
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow actions started.
                        displayName: 'Actions Started '
                        fillGapWithZero: true
                        name: ActionsStarted
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow actions completed.
                        displayName: 'Actions Completed '
                        fillGapWithZero: true
                        name: ActionsCompleted
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow actions succeeded.
                        displayName: 'Actions Succeeded '
                        fillGapWithZero: true
                        name: ActionsSucceeded
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow actions failed.
                        displayName: 'Actions Failed '
                        fillGapWithZero: true
                        name: ActionsFailed
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow actions skipped.
                        displayName: 'Actions Skipped '
                        fillGapWithZero: true
                        name: ActionsSkipped
                        unit: Count
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of completed workflow actions.
                        displayName: 'Action Latency '
                        fillGapWithZero: false
                        name: ActionLatency
                        unit: Seconds
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of succeeded workflow actions.
                        displayName: 'Action Success Latency '
                        fillGapWithZero: false
                        name: ActionSuccessLatency
                        unit: Seconds
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow action throttled events..
                        displayName: Action Throttled Events
                        fillGapWithZero: true
                        name: ActionThrottledEvents
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow triggers started.
                        displayName: 'Triggers Started '
                        fillGapWithZero: true
                        name: TriggersStarted
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow triggers completed.
                        displayName: 'Triggers Completed '
                        fillGapWithZero: true
                        name: TriggersCompleted
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow triggers succeeded.
                        displayName: 'Triggers Succeeded '
                        fillGapWithZero: true
                        name: TriggersSucceeded
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow triggers failed.
                        displayName: 'Triggers Failed '
                        fillGapWithZero: true
                        name: TriggersFailed
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow triggers skipped.
                        displayName: Triggers Skipped
                        fillGapWithZero: true
                        name: TriggersSkipped
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow triggers fired.
                        displayName: 'Triggers Fired '
                        fillGapWithZero: true
                        name: TriggersFired
                        unit: Count
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of completed workflow triggers.
                        displayName: 'Trigger Latency '
                        fillGapWithZero: false
                        name: TriggerLatency
                        unit: Seconds
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of fired workflow triggers.
                        displayName: 'Trigger Fire Latency '
                        fillGapWithZero: false
                        name: TriggerFireLatency
                        unit: Seconds
                      - aggregationType: Average
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Latency of succeeded workflow triggers.
                        displayName: 'Trigger Success Latency '
                        fillGapWithZero: false
                        name: TriggerSuccessLatency
                        unit: Seconds
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow trigger throttled events.
                        displayName: Trigger Throttled Events
                        fillGapWithZero: true
                        name: TriggerThrottledEvents
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow action executions getting billed.
                        displayName: Billable Action Executions
                        fillGapWithZero: true
                        name: BillableActionExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow trigger executions getting billed.
                        displayName: Billable Trigger Executions
                        fillGapWithZero: true
                        name: BillableTriggerExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of workflow executions getting billed.
                        displayName: Total Billable Executions
                        fillGapWithZero: true
                        name: TotalBillableExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of native workflow action executions getting billed.
                        displayName: Billable Native Action Executions
                        fillGapWithZero: true
                        name: BillableNativeActionExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of native workflow trigger executions getting billed.
                        displayName: Billable Native Trigger Executions
                        fillGapWithZero: true
                        name: BillableNativeTriggerExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of native workflow executions getting billed.
                        displayName: Total Native Billable Executions
                        fillGapWithZero: true
                        name: TotalBillableNativeExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of standard workflow action executions getting billed.
                        displayName: Billable Standard Action Executions
                        fillGapWithZero: true
                        name: BillableStandardActionExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of standard workflow trigger executions getting billed.
                        displayName: Billable Standard Trigger Executions
                        fillGapWithZero: true
                        name: BillableStandardTriggerExecutions
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: PT1H
                          timeGrain: PT1M
                        dimensions: []
                        displayDescription: Number of standard workflow executions getting billed.
                        displayName: Total Standard Billable Executions
                        fillGapWithZero: true
                        name: TotalBillableStandardExecutions
                        unit: Count
                - display:
                    description: Reads the workflow log definitions.
                    operation: Get Workflow Log Definition
                    provider: Microsoft Logic
                    resource: Workflow Log Definition
                  name: Microsoft.Logic/workflows/providers/Microsoft.Insights/logDefinitions/read
                  origin: System
                  properties:
                    serviceSpecification:
                      logSpecifications:
                      - blobDuration: PT1H
                        description: Diagnostic events related to workflow runtime executions.
                        displayName: Workflow runtime diagnostic events
                        name: WorkflowRuntime
                - display:
                    description: Gets the workflow run action expression traces.
                    operation: List Workflow Run Action Expression Traces
                    provider: Microsoft Logic
                    resource: Workflow Run Action
                  name: Microsoft.Logic/workflows/runs/actions/listExpressionTraces/action
                - display:
                    description: Gets the workflow run action repetition expression traces.
                    operation: List Workflow Run Action Repetition Expression Traces
                    provider: Microsoft Logic
                    resource: Workflow Run Action Repetition
                  name: Microsoft.Logic/workflows/runs/actions/repetitions/listExpressionTraces/action
                - display:
                    description: Reads the Integration Account log definitions.
                    operation: Get Integration Account Log Definition
                    provider: Microsoft Logic
                    resource: Integration Account Log Definition
                  name: Microsoft.Logic/integrationAccounts/providers/Microsoft.Insights/logDefinitions/read
                  origin: System
                  properties:
                    serviceSpecification:
                      logSpecifications:
                      - blobDuration: PT1H
                        description: Track events related to Integration Account.
                        displayName: Integration Account track events
                        name: IntegrationAccountTrackingEvents
                - display:
                    description: Reads the integration account.
                    operation: Get Integration Account
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/read
                - display:
                    description: Creates or updates the integration account.
                    operation: Set Integration Account
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/write
                - display:
                    description: Deletes the integration account.
                    operation: Delete Integration Account
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/delete
                - display:
                    description: Regenerates the access key secrets.
                    operation: Regenerate Access Key
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/regenerateAccessKey/action
                - display:
                    description: Gets the callback URL for integration account.
                    operation: List Integration Account Callback URL
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/listCallbackUrl/action
                - display:
                    description: Gets the keys in the key vault.
                    operation: List Key Vault Keys
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/listKeyVaultKeys/action
                - display:
                    description: Logs the tracking events in the integration account.
                    operation: Log Integration Account Tracking Events
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/logTrackingEvents/action
                - display:
                    description: Joins the Integration Account.
                    operation: Join Integration Account
                    provider: Microsoft Logic
                    resource: Integration Account
                  name: Microsoft.Logic/integrationAccounts/join/action
                - display:
                    description: Reads the parter in integration account.
                    operation: Get Integration Account Partner
                    provider: Microsoft Logic
                    resource: Integration Account Partner
                  name: Microsoft.Logic/integrationAccounts/partners/read
                - display:
                    description: Creates or updates the partner in integration account.
                    operation: Set Integration Account Partner
                    provider: Microsoft Logic
                    resource: Integration Account Partner
                  name: Microsoft.Logic/integrationAccounts/partners/write
                - display:
                    description: Deletes the partner in integration account.
                    operation: Delete Integration Account Partner
                    provider: Microsoft Logic
                    resource: Integration Account Partner
                  name: Microsoft.Logic/integrationAccounts/partners/delete
                - display:
                    description: Gets the callback URL for partner content in integration account.
                    operation: List Integration Account Partner Content Callback URL
                    provider: Microsoft Logic
                    resource: Integration Account Partner
                  name: Microsoft.Logic/integrationAccounts/partners/listContentCallbackUrl/action
                - display:
                    description: Reads the agreement in integration account.
                    operation: Get Integration Account Agreement
                    provider: Microsoft Logic
                    resource: Integration Account Agreement
                  name: Microsoft.Logic/integrationAccounts/agreements/read
                - display:
                    description: Creates or updates the agreement in integration account.
                    operation: Set Integration Account Agreement
                    provider: Microsoft Logic
                    resource: Integration Account Agreement
                  name: Microsoft.Logic/integrationAccounts/agreements/write
                - display:
                    description: Deletes the agreement in integration account.
                    operation: Delete Integration Account Agreement
                    provider: Microsoft Logic
                    resource: Integration Account Agreement
                  name: Microsoft.Logic/integrationAccounts/agreements/delete
                - display:
                    description: Gets the callback URL for agreement content in integration account.
                    operation: List Integration Account Agreement Content Callback URL
                    provider: Microsoft Logic
                    resource: Integration Account Agreement
                  name: Microsoft.Logic/integrationAccounts/agreements/listContentCallbackUrl/action
                - display:
                    description: Reads the certificate in integration account.
                    operation: Get Integration Account Certificate
                    provider: Microsoft Logic
                    resource: Integration Account Certificate
                  name: Microsoft.Logic/integrationAccounts/certificates/read
                - display:
                    description: Creates or updates the certificate in integration account.
                    operation: Set Integration Account Certificate
                    provider: Microsoft Logic
                    resource: Integration Account Certificate
                  name: Microsoft.Logic/integrationAccounts/certificates/write
                - display:
                    description: Deletes the certificate in integration account.
                    operation: Delete Integration Account Certificate
                    provider: Microsoft Logic
                    resource: Integration Account Certificate
                  name: Microsoft.Logic/integrationAccounts/certificates/delete
                - display:
                    description: Reads the schema in integration account.
                    operation: Get Integration Account Schema
                    provider: Microsoft Logic
                    resource: Integration Account Schema
                  name: Microsoft.Logic/integrationAccounts/schemas/read
                - display:
                    description: Creates or updates the schema in integration account.
                    operation: Set Integration Account Schema
                    provider: Microsoft Logic
                    resource: Integration Account Schema
                  name: Microsoft.Logic/integrationAccounts/schemas/write
                - display:
                    description: Deletes the schema in integration account.
                    operation: Delete Integration Account Schema
                    provider: Microsoft Logic
                    resource: Integration Account Schema
                  name: Microsoft.Logic/integrationAccounts/schemas/delete
                - display:
                    description: Gets the callback URL for schema content in integration account.
                    operation: List Integration Account Schema Content Callback URL
                    provider: Microsoft Logic
                    resource: Integration Account Schema
                  name: Microsoft.Logic/integrationAccounts/schemas/listContentCallbackUrl/action
                - display:
                    description: Reads the map in integration account.
                    operation: Get Integration Account Map
                    provider: Microsoft Logic
                    resource: Integration Account Map
                  name: Microsoft.Logic/integrationAccounts/maps/read
                - display:
                    description: Creates or updates the map in integration account.
                    operation: Set Integration Account Map
                    provider: Microsoft Logic
                    resource: Integration Account Map
                  name: Microsoft.Logic/integrationAccounts/maps/write
                - display:
                    description: Deletes the map in integration account.
                    operation: Delete Integration Account Map
                    provider: Microsoft Logic
                    resource: Integration Account Map
                  name: Microsoft.Logic/integrationAccounts/maps/delete
                - display:
                    description: Gets the callback URL for map content in integration account.
                    operation: List Integration Account Map Content Callback URL
                    provider: Microsoft Logic
                    resource: Integration Account Map
                  name: Microsoft.Logic/integrationAccounts/maps/listContentCallbackUrl/action
                - display:
                    description: Reads the assembly in integration account.
                    operation: Get Integration Account Assembly
                    provider: Microsoft Logic
                    resource: Integration Account Assembly
                  name: Microsoft.Logic/integrationAccounts/assemblies/read
                - display:
                    description: Creates or updates the assembly in integration account.
                    operation: Set Integration Account Assembly
                    provider: Microsoft Logic
                    resource: Integration Account Assembly
                  name: Microsoft.Logic/integrationAccounts/assemblies/write
                - display:
                    description: Deletes the assembly in integration account.
                    operation: Delete Integration Account Assembly
                    provider: Microsoft Logic
                    resource: Integration Account Assembly
                  name: Microsoft.Logic/integrationAccounts/assemblies/delete
                - display:
                    description: Gets the callback URL for assembly content in integration account.
                    operation: List Integration Account Assembly Content Callback URL
                    provider: Microsoft Logic
                    resource: Integration Account Assembly
                  name: Microsoft.Logic/integrationAccounts/assemblies/listContentCallbackUrl/action
                - display:
                    description: Reads the batch configuration in integration account.
                    operation: Get Integration Account Batch Configuration
                    provider: Microsoft Logic
                    resource: Integration Account Batch Configuration
                  name: Microsoft.Logic/integrationAccounts/batchConfigurations/read
                - display:
                    description: Creates or updates the batch configuration in integration account.
                    operation: Set Integration Account Batch Configuration
                    provider: Microsoft Logic
                    resource: Integration Account Batch Configuration
                  name: Microsoft.Logic/integrationAccounts/batchConfigurations/write
                - display:
                    description: Deletes the batch configuration in integration account.
                    operation: Delete Integration Account Batch Configuration
                    provider: Microsoft Logic
                    resource: Integration Account Batch Configuration
                  name: Microsoft.Logic/integrationAccounts/batchConfigurations/delete
                - display:
                    description: Reads the batch configuration in integration account.
                    operation: Get Integration Account Session
                    provider: Microsoft Logic
                    resource: Integration Account Session
                  name: Microsoft.Logic/integrationAccounts/sessions/read
                - display:
                    description: Creates or updates the session in integration account.
                    operation: Set Integration Account Session
                    provider: Microsoft Logic
                    resource: Integration Account Session
                  name: Microsoft.Logic/integrationAccounts/sessions/write
                - display:
                    description: Deletes the session in integration account.
                    operation: Delete Integration Account Session
                    provider: Microsoft Logic
                    resource: Integration Account Session
                  name: Microsoft.Logic/integrationAccounts/sessions/delete
                - display:
                    description: Reads the integration service environment.
                    operation: Get Integration Service Environment
                    provider: Microsoft Logic
                    resource: Integration Service Environment
                  name: Microsoft.Logic/integrationServiceEnvironments/read
                - display:
                    description: Creates or updates the integration service environment.
                    operation: Set Integration Service Environment
                    provider: Microsoft Logic
                    resource: Integration Service Environment
                  name: Microsoft.Logic/integrationServiceEnvironments/write
                - display:
                    description: Deletes the integration service environment.
                    operation: Delete Integration Service Environment
                    provider: Microsoft Logic
                    resource: Integration Service Environment
                  name: Microsoft.Logic/integrationServiceEnvironments/delete
                - display:
                    description: Joins the Integration Service Environment.
                    operation: Join Integration Service Environment
                    provider: Microsoft Logic
                    resource: Integration Service Environment
                  name: Microsoft.Logic/integrationServiceEnvironments/join/action
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Operations_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  Operation:
    description: Logic REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: 'Operation type: Read, write, delete, etc.'
            type: string
          provider:
            description: 'Service provider: Microsoft.Logic'
            type: string
          resource:
            description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
            type: string
        type: object
      name:
        description: 'Operation name: {provider}/{resource}/{operation}'
        type: string
    type: object
  ErrorProperties:
    description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Logic operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of Logic operations supported by the Logic resource provider.
        items:
          $ref: '#/definitions/Operation'
        type: array
  ErrorResponse:
    description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
    properties:
      error:
        $ref: '#/definitions/ErrorProperties'
        description: The error properties.
    type: object
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
