openapi: 3.2.0
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient Integration Account Batch…
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountBatchConfigurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations
  : get:
      description: List the batch configurations for an integration account.
      operationId: IntegrationAccountBatchConfigurations_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfigurationCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountBatchConfigurations
      x-ms-examples:
        List batch configurations:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/batchConfigurations/testBatchConfiguration
                  name: testBatchConfiguration
                  properties:
                    batchGroupName: DEFAULT
                    changedTime: '2018-03-26T06:14:16.7042301Z'
                    createdTime: '2018-03-26T06:14:16.6518552Z'
                    releaseCriteria:
                      batchSize: 234567
                      messageCount: 10
                      recurrence:
                        frequency: Minute
                        interval: 1
                        startTime: '2017-03-24T11:43:00'
                        timeZone: India Standard Time
                  type: Microsoft.Logic/integrationAccounts/batchConfigurations
      x-ms-pageable:
        nextLinkName: null
      summary: Azure Logic Apps Integration Account Batch Configurations_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}
  : delete:
      description: Delete a batch configuration for an integration account.
      operationId: IntegrationAccountBatchConfigurations_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The batch configuration name.
        in: path
        name: batchConfigurationName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountBatchConfigurations
      x-ms-examples:
        Delete a batch configuration:
          parameters:
            api-version: '2019-05-01'
            batchConfigurationName: testBatchConfiguration
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Account Batch Configurations_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get a batch configuration for an integration account.
      operationId: IntegrationAccountBatchConfigurations_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The batch configuration name.
        in: path
        name: batchConfigurationName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountBatchConfigurations
      x-ms-examples:
        Get a batch configuration:
          parameters:
            api-version: '2019-05-01'
            batchConfigurationName: testBatchConfiguration
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/batchConfigurations/testBatchConfiguration
                name: testBatchConfiguration
                properties:
                  batchGroupName: DEFAULT
                  changedTime: '2018-03-26T06:14:16.7042301Z'
                  createdTime: '2018-03-26T06:14:16.6518552Z'
                  releaseCriteria:
                    batchSize: 234567
                    messageCount: 10
                    recurrence:
                      frequency: Minute
                      interval: 1
                      startTime: '2017-03-24T11:43:00'
                      timeZone: India Standard Time
                type: Microsoft.Logic/integrationAccounts/batchConfigurations
      summary: Azure Logic Apps Integration Account Batch Configurations_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Create or update a batch configuration for an integration account.
      operationId: IntegrationAccountBatchConfigurations_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The batch configuration name.
        in: path
        name: batchConfigurationName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfiguration'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountBatchConfigurations
      x-ms-examples:
        Create or update a batch configuration:
          parameters:
            api-version: '2019-05-01'
            batchConfiguration:
              location: westus
              properties:
                batchGroupName: DEFAULT
                releaseCriteria:
                  batchSize: 234567
                  messageCount: 10
                  recurrence:
                    frequency: Minute
                    interval: 1
                    startTime: '2017-03-24T11:43:00'
                    timeZone: India Standard Time
            batchConfigurationName: testBatchConfiguration
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/batchConfigurations/testBatchConfiguration
                name: testBatchConfiguration
                properties:
                  batchGroupName: DEFAULT
                  changedTime: '2018-03-26T06:14:16.7042301Z'
                  createdTime: '2018-03-26T06:14:16.6518552Z'
                  releaseCriteria:
                    batchSize: 234567
                    messageCount: 10
                    recurrence:
                      frequency: Minute
                      interval: 1
                      startTime: '2017-03-24T11:43:00'
                      timeZone: India Standard Time
                type: Microsoft.Logic/integrationAccounts/batchConfigurations
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/batchConfigurations/testBatchConfiguration
                name: testBatchConfiguration
                properties:
                  batchGroupName: DEFAULT
                  changedTime: '2018-03-26T06:14:16.7042301Z'
                  createdTime: '2018-03-26T06:14:16.6518552Z'
                  releaseCriteria:
                    batchSize: 234567
                    messageCount: 10
                    recurrence:
                      frequency: Minute
                      interval: 1
                      startTime: '2017-03-24T11:43:00'
                      timeZone: India Standard Time
                type: Microsoft.Logic/integrationAccounts/batchConfigurations
      summary: Azure Logic Apps Integration Account Batch Configurations_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchConfiguration'
        description: The batch configuration.
        required: true
components:
  schemas:
    RecurrenceScheduleOccurrence:
      description: The recurrence schedule occurrence.
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
          description: The day of the week.
        occurrence:
          description: The occurrence.
          format: int32
          type: integer
      type: object
    BatchConfigurationProperties:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ArtifactProperties'
      description: The batch configuration properties definition.
      properties:
        batchGroupName:
          description: The name of the batch group.
          type: string
        changedTime:
          description: The changed time.
          format: date-time
          type: string
        createdTime:
          description: The created time.
          format: date-time
          type: string
        releaseCriteria:
          $ref: '#/components/schemas/BatchReleaseCriteria'
          description: The batch release criteria.
      required:
      - batchGroupName
      - releaseCriteria
      type: object
    BatchReleaseCriteria:
      additionalProperties: false
      description: The batch release criteria.
      properties:
        batchSize:
          description: The batch size in bytes.
          format: int32
          type: integer
        messageCount:
          description: The message count.
          format: int32
          type: integer
        recurrence:
          $ref: '#/components/schemas/WorkflowTriggerRecurrence'
          description: The recurrence.
      type: object
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    BatchConfiguration:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The batch configuration resource definition.
      properties:
        properties:
          $ref: '#/components/schemas/BatchConfigurationProperties'
          description: The batch configuration properties.
      required:
      - properties
      type: object
    RecurrenceSchedule:
      description: The recurrence schedule.
      properties:
        hours:
          description: The hours.
          items:
            format: int32
            type: integer
          type: array
        minutes:
          description: The minutes.
          items:
            format: int32
            type: integer
          type: array
        monthDays:
          description: The month days.
          items:
            format: int32
            type: integer
          type: array
        monthlyOccurrences:
          description: The monthly occurrences.
          items:
            $ref: '#/components/schemas/RecurrenceScheduleOccurrence'
          type: array
        weekDays:
          description: The days of the week.
          items:
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            type: string
            x-ms-enum:
              modelAsString: false
              name: DaysOfWeek
          type: array
      type: object
    RecurrenceFrequency:
      description: The recurrence frequency.
      enum:
      - NotSpecified
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
      type: string
      x-ms-enum:
        modelAsString: true
        name: RecurrenceFrequency
    BatchConfigurationCollection:
      description: A collection of batch configurations.
      properties:
        value:
          items:
            $ref: '#/components/schemas/BatchConfiguration'
          type: array
      type: object
    Resource:
      description: The base resource type.
      properties:
        id:
          description: The resource id.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    ArtifactProperties:
      additionalProperties: false
      description: The artifact properties definition.
      properties:
        changedTime:
          description: The artifact changed time.
          format: date-time
          type: string
        createdTime:
          description: The artifact creation time.
          format: date-time
          type: string
        metadata: {}
      type: object
    WorkflowTriggerRecurrence:
      description: The workflow trigger recurrence.
      properties:
        endTime:
          description: The end time.
          type: string
        frequency:
          $ref: '#/components/schemas/RecurrenceFrequency'
          description: The frequency.
        interval:
          description: The interval.
          format: int32
          type: integer
        schedule:
          $ref: '#/components/schemas/RecurrenceSchedule'
          description: The recurrence schedule.
        startTime:
          description: The start time.
          type: string
        timeZone:
          description: The time zone.
          type: string
      type: object
    DayOfWeek:
      description: The day of the week.
      enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      type: string
      x-ms-enum:
        modelAsString: false
        name: DayOfWeek
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
      type: object
  parameters:
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
