swagger: '2.0'
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient IntegrationAccountAgreements IntegrationAccountPartners API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountPartners
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners
  : get:
      description: Gets a list of integration account partners.
      operationId: IntegrationAccountPartners_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
        example: example-value
      - description: 'The filter to apply on the operation. Options for filters include: PartnerType.'
        in: query
        name: $filter
        required: false
        type: string
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartnerListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountPartners
      x-ms-examples:
        Get partners by integration account name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount2431/partners/testIntegrationAccount
                  name: IntegrationAccountPartner947
                  properties:
                    changedTime: '2017-03-06T19:42:59.1987212Z'
                    content:
                      b2b:
                        businessIdentities:
                        - qualifier: AA
                          value: ZZ
                    createdTime: '2017-03-06T19:42:59.197919Z'
                    metadata: {}
                    partnerType: B2B
                  type: Microsoft.Logic/integrationAccounts/partners
      x-ms-odata: '#/definitions/IntegrationAccountPartnerFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Integration Account Partners_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}
  : delete:
      description: Deletes an integration account partner.
      operationId: IntegrationAccountPartners_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountPartners
      x-ms-examples:
        Delete a partner:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            partnerName: testPartner
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Account Partners_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets an integration account partner.
      operationId: IntegrationAccountPartners_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountPartners
      x-ms-examples:
        Get partner by name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            partnerName: testPartner
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/partners/testPartner
                name: testIntegrationAccount
                properties:
                  changedTime: '2017-03-06T20:01:24.0525141Z'
                  content:
                    b2b:
                      businessIdentities:
                      - qualifier: AA
                        value: ZZ
                  createdTime: '2017-03-06T20:01:24.0517156Z'
                  metadata: {}
                  partnerType: B2B
                type: Microsoft.Logic/integrationAccounts/partners
      summary: Azure Logic Apps Integration Account Partners_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Creates or updates an integration account partner.
      operationId: IntegrationAccountPartners_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The integration account partner.
        in: body
        name: partner
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountPartner'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountPartners
      x-ms-examples:
        Create or update a partner:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            partner:
              location: westus
              properties:
                content:
                  b2b:
                    businessIdentities:
                    - qualifier: AA
                      value: ZZ
                metadata: {}
                partnerType: B2B
              tags: {}
            partnerName: testPartner
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/flowrg/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/partners/testPartner
                name: testPartner
                properties:
                  changedTime: '2017-03-06T20:06:23.5904806Z'
                  content:
                    b2b:
                      businessIdentities:
                      - qualifier: AA
                        value: ZZ
                  createdTime: '2017-03-06T20:06:23.5895246Z'
                  metadata: {}
                  partnerType: B2B
                type: Microsoft.Logic/integrationAccounts/partners
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/flowrg/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/partners/testPartner
                name: testPartner
                properties:
                  changedTime: '2017-03-06T20:06:23.5904806Z'
                  content:
                    b2b:
                      businessIdentities:
                      - qualifier: AA
                        value: ZZ
                  createdTime: '2017-03-06T20:06:23.5895246Z'
                  metadata: {}
                  partnerType: B2B
                type: Microsoft.Logic/integrationAccounts/partners
      summary: Azure Logic Apps Integration Account Partners_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}/listContentCallbackUrl
  : post:
      description: Get the content callback url.
      operationId: IntegrationAccountPartners_ListContentCallbackUrl
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - in: body
        name: listContentCallbackUrl
        required: true
        schema:
          $ref: '#/definitions/GetCallbackUrlParameters'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountPartners
      x-ms-examples:
        Get the content callback url:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            listContentCallbackUrl:
              keyType: Primary
              notAfter: '2018-04-19T16:00:00Z'
            partnerName: testPartner
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                basePath: https://prod-00.westus.logic.azure.com/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/partners/testPartner/contents/Value
                method: GET
                queries:
                  api-version: 2015-08-01-preview
                value: https://prod-00.westus.logic.azure.com:443/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/partners/testPartner/contents/Value?api-version=2015-08-01-preview&sp=%2Fpartners%2FtestPartner%2Fread&sv=1.0&sig=VK_mbQPTHTa3ezhsrI8IctckwjlL3GdJmroQH_baYj4
      summary: Azure Logic Apps Integration Account Partners_ List Content Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  BusinessIdentity:
    description: The integration account partner's business identity.
    properties:
      qualifier:
        description: The business identity qualifier e.g. as2identity, ZZ, ZZZ, 31, 32
        type: string
      value:
        description: The user defined business identity value.
        type: string
    required:
    - qualifier
    - value
    type: object
  B2BPartnerContent:
    description: The B2B partner content.
    properties:
      businessIdentities:
        description: The list of partner business identities.
        items:
          $ref: '#/definitions/BusinessIdentity'
        type: array
    type: object
  KeyType:
    description: The key type.
    enum:
    - NotSpecified
    - Primary
    - Secondary
    type: string
    x-ms-enum:
      modelAsString: true
      name: KeyType
  IntegrationAccountPartnerListResult:
    description: The list of integration account partners.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of integration account partners.
        items:
          $ref: '#/definitions/IntegrationAccountPartner'
        type: array
    type: object
  GetCallbackUrlParameters:
    description: The callback url parameters.
    properties:
      keyType:
        $ref: '#/definitions/KeyType'
        description: The key type.
      notAfter:
        description: The expiry time.
        format: date-time
        type: string
    type: object
  IntegrationAccountPartner:
    allOf:
    - $ref: '#/definitions/Resource'
    description: The integration account partner.
    properties:
      properties:
        $ref: '#/definitions/IntegrationAccountPartnerProperties'
        description: The integration account partner properties.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  ErrorProperties:
    description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  PartnerContent:
    description: The integration account partner content.
    properties:
      b2b:
        $ref: '#/definitions/B2BPartnerContent'
        description: The B2B partner content.
    type: object
  IntegrationAccountPartnerProperties:
    description: The integration account partner properties.
    properties:
      changedTime:
        description: The changed time.
        format: date-time
        readOnly: true
        type: string
      content:
        $ref: '#/definitions/PartnerContent'
        description: The partner content.
      createdTime:
        description: The created time.
        format: date-time
        readOnly: true
        type: string
      metadata:
        description: The metadata.
        properties: {}
        type: object
      partnerType:
        $ref: '#/definitions/PartnerType'
        description: The partner type.
    required:
    - partnerType
    - content
    type: object
  Resource:
    description: The base resource type.
    properties:
      id:
        description: The resource id.
        readOnly: true
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ErrorResponse:
    description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
    properties:
      error:
        $ref: '#/definitions/ErrorProperties'
        description: The error properties.
    type: object
  WorkflowTriggerListCallbackUrlQueries:
    description: Gets the workflow trigger callback URL query parameters.
    properties:
      api-version:
        description: The api version.
        type: string
      se:
        description: The SAS timestamp.
        type: string
      sig:
        description: The SAS signature.
        type: string
      sp:
        description: The SAS permissions.
        type: string
      sv:
        description: The SAS version.
        type: string
    type: object
  WorkflowTriggerCallbackUrl:
    description: The workflow trigger callback URL.
    properties:
      basePath:
        description: Gets the workflow trigger callback URL base path.
        readOnly: true
        type: string
      method:
        description: Gets the workflow trigger callback URL HTTP method.
        readOnly: true
        type: string
      queries:
        $ref: '#/definitions/WorkflowTriggerListCallbackUrlQueries'
        description: Gets the workflow trigger callback URL query parameters.
      relativePath:
        description: Gets the workflow trigger callback URL relative path.
        readOnly: true
        type: string
      relativePathParameters:
        description: Gets the workflow trigger callback URL relative path parameters.
        items:
          type: string
        type: array
      value:
        description: Gets the workflow trigger callback URL.
        readOnly: true
        type: string
    type: object
  PartnerType:
    description: The partner type.
    enum:
    - NotSpecified
    - B2B
    type: string
    x-ms-enum:
      modelAsString: true
      name: PartnerType
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
