swagger: '2.0'
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient IntegrationAccountAgreements Workflows API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workflows
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows:
    get:
      description: Gets a list of workflows by subscription.
      operationId: Workflows_ListBySubscription
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
        example: example-value
      - description: 'The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.'
        in: query
        name: $filter
        required: false
        type: string
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        List all workflows in a subscription:
          parameters:
            api-version: '2019-05-01'
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow
                  location: brazilsouth
                  name: test-workflow
                  properties:
                    accessControl: {}
                    accessEndpoint: http://tempuri.org
                    changedTime: '2018-08-09T22:54:54.3533634Z'
                    createdTime: '2018-04-25T01:39:21.4365247Z'
                    definition:
                      $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                      actions: {}
                      contentVersion: 1.0.0.0
                      outputs: {}
                      parameters: {}
                      triggers: {}
                    endpointsConfiguration:
                      connector:
                        outgoingIpAddresses:
                        - address: 40.84.145.61
                      workflow:
                        accessEndpointIpAddresses:
                        - address: 104.210.153.89
                        - address: 13.85.79.155
                        - address: 13.65.39.247
                        outgoingIpAddresses:
                        - address: 13.84.159.168
                        - address: 13.65.86.56
                        - address: 13.65.82.190
                    integrationAccount:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                      name: test-integration-account
                      type: Microsoft.Logic/integrationAccounts
                    parameters: {}
                    provisioningState: Succeeded
                    state: Enabled
                    version: 8586677515911718000
                  tags: {}
                  type: Microsoft.Logic/workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Workflows_ List by Subscription
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/locations/{location}/workflows/{workflowName}/validate
  : post:
      description: Validates the workflow definition.
      operationId: Workflows_ValidateByLocation
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow location.
        in: path
        name: location
        required: true
        type: string
        example: example-value
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Validate a workflow:
          parameters:
            api-version: '2019-05-01'
            location: brazilsouth
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            validate:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow
              location: brazilsouth
              name: test-workflow
              properties:
                definition:
                  $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                  actions: {}
                  contentVersion: 1.0.0.0
                  outputs: {}
                  parameters: {}
                  triggers: {}
                integrationAccount:
                  id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                  name: test-integration-account
                  type: Microsoft.Logic/integrationAccounts
              tags: {}
              type: Microsoft.Logic/workflows
            workflowName: test-workflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflows_ Validate by Location
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows:
    get:
      description: Gets a list of workflows by resource group.
      operationId: Workflows_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
        example: example-value
      - description: 'The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.'
        in: query
        name: $filter
        required: false
        type: string
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        List all workflows in a resource group:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow
                  location: brazilsouth
                  name: test-workflow
                  properties:
                    accessControl: {}
                    accessEndpoint: http://tempuri.org
                    changedTime: '2018-08-09T22:54:54.3533634Z'
                    createdTime: '2018-04-25T01:39:21.4365247Z'
                    definition:
                      $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                      actions: {}
                      contentVersion: 1.0.0.0
                      outputs: {}
                      parameters: {}
                      triggers: {}
                    endpointsConfiguration:
                      connector:
                        outgoingIpAddresses:
                        - address: 40.84.145.61
                      workflow:
                        accessEndpointIpAddresses:
                        - address: 104.210.153.89
                        - address: 13.85.79.155
                        - address: 13.65.39.247
                        outgoingIpAddresses:
                        - address: 13.84.159.168
                        - address: 13.65.86.56
                        - address: 13.65.82.190
                    integrationAccount:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                      name: test-integration-account
                      type: Microsoft.Logic/integrationAccounts
                    parameters: {}
                    provisioningState: Succeeded
                    state: Enabled
                    version: 8586677515911718000
                  tags: {}
                  type: Microsoft.Logic/workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Workflows_ List by Resource Group
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}:
    delete:
      description: Deletes a workflow.
      operationId: Workflows_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Delete a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Workflows_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets a workflow.
      operationId: Workflows_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Get a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow
                location: brazilsouth
                name: test-workflow
                properties:
                  accessEndpoint: http://tempuri.org
                  changedTime: '2018-08-09T22:54:54.3533634Z'
                  createdTime: '2018-04-25T01:39:21.4365247Z'
                  definition:
                    $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2018-07-01-preview/workflowdefinition.json#
                    actions: {}
                    contentVersion: 1.0.0.0
                    outputs: {}
                    parameters: {}
                    triggers: {}
                  endpointsConfiguration:
                    connector:
                      outgoingIpAddresses:
                      - address: 40.84.145.61
                    workflow:
                      accessEndpointIpAddresses:
                      - address: 104.210.153.89
                      - address: 13.85.79.155
                      - address: 13.65.39.247
                      outgoingIpAddresses:
                      - address: 13.84.159.168
                      - address: 13.65.86.56
                      - address: 13.65.82.190
                  integrationAccount:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                    name: test-integration-account
                    type: Microsoft.Logic/integrationAccounts
                  integrationServiceEnvironment:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationServiceEnvironments/test-integration-service-environment
                    name: test-integration-service-environment
                    type: Microsoft.Logic/integrationServiceEnvironments
                  parameters: {}
                  provisioningState: Succeeded
                  state: Enabled
                  version: 8586677515911718000
                tags: {}
                type: Microsoft.Logic/workflows
      summary: Azure Logic Apps Workflows_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Updates a workflow.
      operationId: Workflows_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The workflow.
        in: body
        name: workflow
        required: true
        schema:
          $ref: '#/definitions/Workflow'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Patch a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflow:
              location: brazilsouth
              properties:
                definition:
                  $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                  actions:
                    Find_pet_by_ID:
                      inputs:
                        host:
                          connection:
                            name: '@parameters(''$connections'')[''test-custom-connector''][''connectionId'']'
                        method: get
                        path: /pet/@{encodeURIComponent('1')}
                      runAfter: {}
                      type: ApiConnection
                  contentVersion: 1.0.0.0
                  outputs: {}
                  parameters:
                    $connections:
                      defaultValue: {}
                      type: Object
                  triggers:
                    manual:
                      inputs:
                        schema: {}
                      kind: Http
                      type: Request
                integrationAccount:
                  id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                parameters:
                  $connections:
                    value:
                      test-custom-connector:
                        connectionId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Web/connections/test-custom-connector
                        connectionName: test-custom-connector
                        id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/brazilsouth/managedApis/test-custom-connector
              tags: {}
            workflowName: test-workflow
          responses:
            '200':
              body:
                properties:
                  accessEndpoint: http://tempuri.org
                  changedTime: '2018-08-09T22:54:54.3533634Z'
                  createdTime: '2018-04-25T01:39:21.4365247Z'
                  definition:
                    $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                    actions: {}
                    contentVersion: 1.0.0.0
                    outputs: {}
                    parameters: {}
                    triggers: {}
                  endpointsConfiguration:
                    connector:
                      outgoingIpAddresses:
                      - address: 40.84.145.61
                    workflow:
                      accessEndpointIpAddresses:
                      - address: 104.210.153.89
                      - address: 13.85.79.155
                      - address: 13.65.39.247
                      outgoingIpAddresses:
                      - address: 13.84.159.168
                      - address: 13.65.86.56
                      - address: 13.65.82.190
                  integrationAccount:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                    name: test-integration-account
                    type: Microsoft.Logic/integrationAccounts
                  parameters: {}
                  provisioningState: Succeeded
                  state: Enabled
                  version: 8586677515911718000
      summary: Azure Logic Apps Workflows_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Creates or updates a workflow.
      operationId: Workflows_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The workflow.
        in: body
        name: workflow
        required: true
        schema:
          $ref: '#/definitions/Workflow'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Workflow'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Create or update a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflow:
              location: brazilsouth
              properties:
                definition:
                  $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                  actions:
                    Find_pet_by_ID:
                      inputs:
                        host:
                          connection:
                            name: '@parameters(''$connections'')[''test-custom-connector''][''connectionId'']'
                        method: get
                        path: /pet/@{encodeURIComponent('1')}
                      runAfter: {}
                      type: ApiConnection
                  contentVersion: 1.0.0.0
                  outputs: {}
                  parameters:
                    $connections:
                      defaultValue: {}
                      type: Object
                  triggers:
                    manual:
                      inputs:
                        schema: {}
                      kind: Http
                      type: Request
                integrationAccount:
                  id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                parameters:
                  $connections:
                    value:
                      test-custom-connector:
                        connectionId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Web/connections/test-custom-connector
                        connectionName: test-custom-connector
                        id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/brazilsouth/managedApis/test-custom-connector
              tags: {}
            workflowName: test-workflow
          responses:
            '200':
              body:
                properties:
                  accessEndpoint: http://tempuri.org
                  changedTime: '2018-08-09T22:54:54.3533634Z'
                  createdTime: '2018-04-25T01:39:21.4365247Z'
                  definition:
                    $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                    actions: {}
                    contentVersion: 1.0.0.0
                    outputs: {}
                    parameters: {}
                    triggers: {}
                  endpointsConfiguration:
                    connector:
                      outgoingIpAddresses:
                      - address: 40.84.145.61
                    workflow:
                      accessEndpointIpAddresses:
                      - address: 104.210.153.89
                      - address: 13.85.79.155
                      - address: 13.65.39.247
                      outgoingIpAddresses:
                      - address: 13.84.159.168
                      - address: 13.65.86.56
                      - address: 13.65.82.190
                  integrationAccount:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                    name: test-integration-account
                    type: Microsoft.Logic/integrationAccounts
                  integrationServiceEnvironment:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationServiceEnvironments/test-integration-service-environment
                    name: test-integration-service-environment
                    type: Microsoft.Logic/integrationServiceEnvironments
                  parameters: {}
                  provisioningState: Succeeded
                  state: Enabled
                  version: 8586677515911718000
            '201':
              body:
                properties:
                  accessEndpoint: http://tempuri.org
                  changedTime: '2018-08-09T22:54:54.3533634Z'
                  createdTime: '2018-04-25T01:39:21.4365247Z'
                  definition:
                    $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                    actions: {}
                    contentVersion: 1.0.0.0
                    outputs: {}
                    parameters: {}
                    triggers: {}
                  endpointsConfiguration:
                    connector:
                      outgoingIpAddresses:
                      - address: 40.84.145.61
                    workflow:
                      accessEndpointIpAddresses:
                      - address: 104.210.153.89
                      - address: 13.85.79.155
                      - address: 13.65.39.247
                      outgoingIpAddresses:
                      - address: 13.84.159.168
                      - address: 13.65.86.56
                      - address: 13.65.82.190
                  integrationAccount:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                    name: test-integration-account
                    type: Microsoft.Logic/integrationAccounts
                  integrationServiceEnvironment:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationServiceEnvironments/test-integration-service-environment
                    name: test-integration-service-environment
                    type: Microsoft.Logic/integrationServiceEnvironments
                  parameters: {}
                  provisioningState: Succeeded
                  state: Enabled
                  version: 8586677515911718000
      summary: Azure Logic Apps Workflows_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable
  : post:
      description: Disables a workflow.
      operationId: Workflows_Disable
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Disable a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflows_ Disable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable
  : post:
      description: Enables a workflow.
      operationId: Workflows_Enable
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Enable a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflows_ Enable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/generateUpgradedDefinition
  : post:
      description: Generates the upgraded definition for a workflow.
      operationId: Workflows_GenerateUpgradedDefinition
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: Parameters for generating an upgraded definition.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/GenerateUpgradedDefinitionParameters'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Generate an upgraded definition:
          parameters:
            api-version: '2019-05-01'
            parameters:
              targetSchemaVersion: '2016-06-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200':
              body:
                $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                actions: {}
                contentVersion: 1.0.0.0
                outputs: {}
                parameters:
                  $connections:
                    defaultValue: {}
                    type: Object
                triggers: {}
      summary: Azure Logic Apps Workflows_ Generate Upgraded Definition
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/listCallbackUrl
  : post:
      description: Get the workflow callback Url.
      operationId: Workflows_ListCallbackUrl
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - description: Which callback url to list.
        in: body
        name: listCallbackUrl
        required: true
        schema:
          $ref: '#/definitions/GetCallbackUrlParameters'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Get callback url:
          parameters:
            api-version: '2019-05-01'
            listCallbackUrl:
              keyType: Primary
              notAfter: '2018-04-19T16:00:00Z'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: testWorkflow
          responses:
            '200':
              body:
                basePath: https://prod-03.westus.logic.azure.com/workflows/d4690301f3b340de9330256bb2e83974
                method: POST
                queries:
                  api-version: 2018-07-01-preview
                  se: '2018-04-19T16:00:00.0000000Z'
                  sig: JXbHjs3qzLPDyk-IM_VzsN-WL_mNql3v_uWbBbKgtVk
                  sp: //*
                  sv: '1.0'
                value: https://prod-03.westus.logic.azure.com/workflows/d4690301f3b340de9330256bb2e83974/triggers/requestTrigger/paths/invoke?api-version=2018-07-01-preview&se=2018-04-19T16%3A00%3A00.0000000Z&sp=%2Ftriggers%2FrequestTrigger%2Frun&sv=1.0&sig=JXbHjs3qzLPDyk-IM_VzsN-WL_mNql3v_uWbBbKgtVk
      summary: Azure Logic Apps Workflows_ List Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/listSwagger
  : post:
      description: Gets an OpenAPI definition for the workflow.
      operationId: Workflows_ListSwagger
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Get the swagger for a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: testWorkflowName
          responses:
            '200':
              body:
                basePath: /workflows/2e420261710e423490d5d502fe9c4abb/triggers
                consumes:
                - application/json
                host: test-host
                info:
                  description: Azure Logic App.
                  title: flow
                paths:
                  /simpleManualTrigger/paths/invoke:
                    post:
                      description: Trigger a run of the logic app.
                      operationId: simpleManualTrigger-invoke
                      parameters:
                      - description: The service API version.
                        in: query
                        name: api-version
                        required: true
                        type: string
                      - description: The permissions; generally 'read' or 'write'.
                        in: query
                        name: sp
                        required: true
                        type: string
                      - description: The version number of the query parameters.
                        in: query
                        name: sv
                        required: true
                        type: string
                      - description: The SHA 256 hash of the entire request URI with an internal key.
                        in: query
                        name: sig
                        required: true
                        type: string
                      responses:
                        default:
                          description: The Logic App Response.
                          schema:
                            type: object
                produces:
                - application/json
                schemes:
                - http
                swagger: '2.0'
      summary: Azure Logic Apps Workflows_ List Swagger
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/move:
    post:
      description: Moves an existing workflow.
      operationId: Workflows_Move
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - description: The workflow to move.
        in: body
        name: move
        required: true
        schema:
          $ref: '#/definitions/Workflow'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Move a workflow:
          parameters:
            api-version: '2019-05-01'
            move:
              id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/newResourceGroup/providers/Microsoft.Logic/workflows/newWorkflowName
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: testWorkflow
          responses:
            '200': {}
            '202': {}
      x-ms-long-running-operation: true
      summary: Azure Logic Apps Workflows_ Move
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/regenerateAccessKey
  : post:
      description: Regenerates the callback URL access key for request triggers.
      operationId: Workflows_RegenerateAccessKey
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - description: The access key type.
        in: body
        name: keyType
        required: true
        schema:
          $ref: '#/definitions/RegenerateActionParameter'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Regenerate the callback URL access key for request triggers:
          parameters:
            api-version: '2019-05-01'
            keyType:
              keyType: Primary
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: testWorkflowName
          responses:
            '200': {}
      summary: Azure Logic Apps Workflows_ Regenerate Access Key
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/validate
  : post:
      description: Validates the workflow.
      operationId: Workflows_ValidateByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        type: string
        example: example-value
      - description: The workflow.
        in: body
        name: validate
        required: true
        schema:
          $ref: '#/definitions/Workflow'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workflows
      x-ms-examples:
        Validate a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            validate:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow
              location: brazilsouth
              name: test-workflow
              properties:
                definition:
                  $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                  actions: {}
                  contentVersion: 1.0.0.0
                  outputs: {}
                  parameters: {}
                  triggers: {}
                integrationAccount:
                  id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
              tags: {}
            workflowName: test-workflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflows_ Validate by Resource Group
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  ErrorProperties:
    description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  WorkflowParameter:
    description: The workflow parameters.
    properties:
      description:
        description: The description.
        type: string
      metadata:
        $ref: '#/definitions/Object'
        description: The metadata.
      type:
        $ref: '#/definitions/ParameterType'
        description: The type.
      value:
        $ref: '#/definitions/Object'
        description: The value.
    type: object
  FlowEndpointsConfiguration:
    description: The endpoints configuration.
    properties:
      connector:
        $ref: '#/definitions/FlowEndpoints'
        description: The connector endpoints.
      workflow:
        $ref: '#/definitions/FlowEndpoints'
        description: The workflow endpoints.
    type: object
  Resource:
    description: The base resource type.
    properties:
      id:
        description: The resource id.
        readOnly: true
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  WorkflowTriggerListCallbackUrlQueries:
    description: Gets the workflow trigger callback URL query parameters.
    properties:
      api-version:
        description: The api version.
        type: string
      se:
        description: The SAS timestamp.
        type: string
      sig:
        description: The SAS signature.
        type: string
      sp:
        description: The SAS permissions.
        type: string
      sv:
        description: The SAS version.
        type: string
    type: object
  ResourceReference:
    description: The resource reference.
    properties:
      id:
        description: The resource id.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    type: object
  WorkflowState:
    description: The workflow state.
    enum:
    - NotSpecified
    - Completed
    - Enabled
    - Disabled
    - Deleted
    - Suspended
    type: string
    x-ms-enum:
      modelAsString: true
      name: WorkflowState
  WorkflowProperties:
    description: The workflow properties.
    properties:
      accessEndpoint:
        description: Gets the access endpoint.
        readOnly: true
        type: string
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      definition:
        $ref: '#/definitions/Object'
        description: The definition.
      endpointsConfiguration:
        $ref: '#/definitions/FlowEndpointsConfiguration'
        description: The endpoints configuration.
      integrationAccount:
        $ref: '#/definitions/ResourceReference'
        description: The integration account.
      integrationServiceEnvironment:
        $ref: '#/definitions/ResourceReference'
        description: The integration service environment.
      parameters:
        additionalProperties:
          $ref: '#/definitions/WorkflowParameter'
        description: The parameters.
        type: object
      provisioningState:
        $ref: '#/definitions/WorkflowProvisioningState'
        description: Gets the provisioning state.
        readOnly: true
      sku:
        $ref: '#/definitions/Sku'
        description: The sku.
      state:
        $ref: '#/definitions/WorkflowState'
        description: The state.
      version:
        description: Gets the version.
        readOnly: true
        type: string
    type: object
  KeyType:
    description: The key type.
    enum:
    - NotSpecified
    - Primary
    - Secondary
    type: string
    x-ms-enum:
      modelAsString: true
      name: KeyType
  GetCallbackUrlParameters:
    description: The callback url parameters.
    properties:
      keyType:
        $ref: '#/definitions/KeyType'
        description: The key type.
      notAfter:
        description: The expiry time.
        format: date-time
        type: string
    type: object
  WorkflowProvisioningState:
    description: The workflow provisioning state.
    enum:
    - NotSpecified
    - Accepted
    - Running
    - Ready
    - Creating
    - Created
    - Deleting
    - Deleted
    - Canceled
    - Failed
    - Succeeded
    - Moving
    - Updating
    - Registering
    - Registered
    - Unregistering
    - Unregistered
    - Completed
    type: string
    x-ms-enum:
      modelAsString: true
      name: WorkflowProvisioningState
  WorkflowListResult:
    description: The list of workflows.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of workflows.
        items:
          $ref: '#/definitions/Workflow'
        type: array
    type: object
  ErrorResponse:
    description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
    properties:
      error:
        $ref: '#/definitions/ErrorProperties'
        description: The error properties.
    type: object
  IpAddress:
    description: The ip address.
    properties:
      address:
        description: The address.
        type: string
    type: object
  GenerateUpgradedDefinitionParameters:
    description: The parameters to generate upgraded definition.
    properties:
      targetSchemaVersion:
        description: The target schema version.
        type: string
    type: object
  Sku:
    description: The sku type.
    properties:
      name:
        $ref: '#/definitions/SkuName'
        description: The name.
      plan:
        $ref: '#/definitions/ResourceReference'
        description: The reference to plan.
    required:
    - name
    type: object
  Object:
    properties: {}
    type: object
  RegenerateActionParameter:
    description: The access key regenerate action content.
    properties:
      keyType:
        $ref: '#/definitions/KeyType'
        description: The key type.
    type: object
  Workflow:
    allOf:
    - $ref: '#/definitions/Resource'
    description: The workflow type.
    properties:
      properties:
        $ref: '#/definitions/WorkflowProperties'
        description: The workflow properties.
        x-ms-client-flatten: true
    type: object
  FlowEndpoints:
    description: The flow endpoints configuration.
    properties:
      accessEndpointIpAddresses:
        description: The access endpoint ip address.
        items:
          $ref: '#/definitions/IpAddress'
          description: The ip address.
        type: array
      outgoingIpAddresses:
        description: The outgoing ip address.
        items:
          $ref: '#/definitions/IpAddress'
          description: The ip address.
        type: array
    type: object
  ParameterType:
    description: The parameter type.
    enum:
    - NotSpecified
    - String
    - SecureString
    - Int
    - Float
    - Bool
    - Array
    - Object
    - SecureObject
    type: string
    x-ms-enum:
      modelAsString: true
      name: ParameterType
  SkuName:
    description: The sku name.
    enum:
    - NotSpecified
    - Free
    - Shared
    - Basic
    - Standard
    - Premium
    type: string
    x-ms-enum:
      modelAsString: true
      name: SkuName
  WorkflowTriggerCallbackUrl:
    description: The workflow trigger callback URL.
    properties:
      basePath:
        description: Gets the workflow trigger callback URL base path.
        readOnly: true
        type: string
      method:
        description: Gets the workflow trigger callback URL HTTP method.
        readOnly: true
        type: string
      queries:
        $ref: '#/definitions/WorkflowTriggerListCallbackUrlQueries'
        description: Gets the workflow trigger callback URL query parameters.
      relativePath:
        description: Gets the workflow trigger callback URL relative path.
        readOnly: true
        type: string
      relativePathParameters:
        description: Gets the workflow trigger callback URL relative path parameters.
        items:
          type: string
        type: array
      value:
        description: Gets the workflow trigger callback URL.
        readOnly: true
        type: string
    type: object
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
