swagger: '2.0'
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient IntegrationAccountAgreements API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountAgreements
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements
  : get:
      description: Gets a list of integration account agreements.
      operationId: IntegrationAccountAgreements_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
        example: example-value
      - description: 'The filter to apply on the operation. Options for filters include: AgreementType.'
        in: query
        name: $filter
        required: false
        type: string
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreementListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountAgreements
      x-ms-examples:
        Get agreements by integration account name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                  name: <IntegrationAccountAgreementName>
                  properties:
                    agreementType: X12
                    changedTime: '2017-03-06T22:00:54.1520445Z'
                    content:
                      x12:
                        receiveAgreement:
                          protocolSettings:
                            acknowledgementSettings:
                              acknowledgementControlNumberLowerBound: 1
                              acknowledgementControlNumberUpperBound: 999999999
                              batchFunctionalAcknowledgements: true
                              batchImplementationAcknowledgements: false
                              batchTechnicalAcknowledgements: true
                              needFunctionalAcknowledgement: false
                              needImplementationAcknowledgement: false
                              needLoopForValidMessages: false
                              needTechnicalAcknowledgement: false
                              rolloverAcknowledgementControlNumber: true
                              sendSynchronousAcknowledgement: true
                            envelopeSettings:
                              controlStandardsId: 85
                              controlVersionNumber: '00401'
                              enableDefaultGroupHeaders: true
                              groupControlNumberLowerBound: 1
                              groupControlNumberUpperBound: 999999999
                              groupHeaderAgencyCode: T
                              groupHeaderDateFormat: CCYYMMDD
                              groupHeaderTimeFormat: HHMM
                              groupHeaderVersion: '00401'
                              interchangeControlNumberLowerBound: 1
                              interchangeControlNumberUpperBound: 999999999
                              overwriteExistingTransactionSetControlNumber: true
                              receiverApplicationId: RECEIVE-APP
                              rolloverGroupControlNumber: true
                              rolloverInterchangeControlNumber: true
                              rolloverTransactionSetControlNumber: true
                              senderApplicationId: BTS-SENDER
                              transactionSetControlNumberLowerBound: 1
                              transactionSetControlNumberUpperBound: 999999999
                              usageIndicator: Test
                              useControlStandardsIdAsRepetitionCharacter: false
                            framingSettings:
                              characterSet: UTF8
                              componentSeparator: 58
                              dataElementSeparator: 42
                              replaceCharacter: 36
                              replaceSeparatorsInPayload: false
                              segmentTerminator: 126
                              segmentTerminatorSuffix: None
                            messageFilter:
                              messageFilterType: Exclude
                            processingSettings:
                              convertImpliedDecimal: true
                              createEmptyXmlTagsForTrailingSeparators: true
                              maskSecurityInfo: true
                              preserveInterchange: true
                              suspendInterchangeOnError: true
                              useDotAsDecimalSeparator: true
                            schemaReferences: []
                            securitySettings:
                              authorizationQualifier: '00'
                              securityQualifier: '00'
                            validationSettings:
                              allowLeadingAndTrailingSpacesAndZeroes: false
                              checkDuplicateGroupControlNumber: false
                              checkDuplicateInterchangeControlNumber: false
                              checkDuplicateTransactionSetControlNumber: false
                              interchangeControlNumberValidityDays: 30
                              trailingSeparatorPolicy: NotAllowed
                              trimLeadingAndTrailingSpacesAndZeroes: false
                              validateCharacterSet: true
                              validateEDITypes: true
                              validateXSDTypes: false
                          receiverBusinessIdentity:
                            qualifier: ZZ
                            value: ZZ
                          senderBusinessIdentity:
                            qualifier: AA
                            value: AA
                        sendAgreement:
                          protocolSettings:
                            acknowledgementSettings:
                              acknowledgementControlNumberLowerBound: 1
                              acknowledgementControlNumberUpperBound: 999999999
                              batchFunctionalAcknowledgements: true
                              batchImplementationAcknowledgements: false
                              batchTechnicalAcknowledgements: true
                              needFunctionalAcknowledgement: false
                              needImplementationAcknowledgement: false
                              needLoopForValidMessages: false
                              needTechnicalAcknowledgement: false
                              rolloverAcknowledgementControlNumber: true
                              sendSynchronousAcknowledgement: true
                            envelopeSettings:
                              controlStandardsId: 100
                              controlVersionNumber: '0.0'
                              enableDefaultGroupHeaders: true
                              functionalGroupId: '1'
                              groupControlNumberLowerBound: 1
                              groupControlNumberUpperBound: 999999999
                              groupHeaderAgencyCode: T
                              groupHeaderDateFormat: CCYYMMDD
                              groupHeaderTimeFormat: HHMM
                              groupHeaderVersion: '0.0'
                              interchangeControlNumberLowerBound: 1
                              interchangeControlNumberUpperBound: 999999999
                              overwriteExistingTransactionSetControlNumber: true
                              receiverApplicationId: '100'
                              rolloverGroupControlNumber: true
                              rolloverInterchangeControlNumber: true
                              rolloverTransactionSetControlNumber: true
                              senderApplicationId: '100'
                              transactionSetControlNumberLowerBound: 1
                              transactionSetControlNumberPrefix: ''
                              transactionSetControlNumberSuffix: ''
                              transactionSetControlNumberUpperBound: 999999999
                              usageIndicator: Information
                              useControlStandardsIdAsRepetitionCharacter: true
                            framingSettings:
                              characterSet: UTF8
                              componentSeparator: 58
                              dataElementSeparator: 42
                              replaceCharacter: 36
                              replaceSeparatorsInPayload: false
                              segmentTerminator: 126
                              segmentTerminatorSuffix: None
                            messageFilter:
                              messageFilterType: Exclude
                            processingSettings:
                              convertImpliedDecimal: true
                              createEmptyXmlTagsForTrailingSeparators: true
                              maskSecurityInfo: true
                              preserveInterchange: true
                              suspendInterchangeOnError: true
                              useDotAsDecimalSeparator: true
                            schemaReferences: []
                            securitySettings:
                              authorizationQualifier: '00'
                              securityQualifier: '00'
                            validationSettings:
                              allowLeadingAndTrailingSpacesAndZeroes: false
                              checkDuplicateGroupControlNumber: false
                              checkDuplicateInterchangeControlNumber: false
                              checkDuplicateTransactionSetControlNumber: false
                              interchangeControlNumberValidityDays: 30
                              trailingSeparatorPolicy: NotAllowed
                              trimLeadingAndTrailingSpacesAndZeroes: false
                              validateCharacterSet: true
                              validateEDITypes: true
                              validateXSDTypes: false
                          receiverBusinessIdentity:
                            qualifier: AA
                            value: AA
                          senderBusinessIdentity:
                            qualifier: ZZ
                            value: ZZ
                    createdTime: '2017-03-06T22:00:54.1516558Z'
                    guestIdentity:
                      qualifier: AA
                      value: AA
                    guestPartner: GuestPartner
                    hostIdentity:
                      qualifier: ZZ
                      value: ZZ
                    hostPartner: HostPartner
                    metadata: {}
                  type: Microsoft.Logic/integrationAccounts/agreements
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                  name: <IntegrationAccountAgreementName>
                  properties:
                    agreementType: AS2
                    changedTime: '2017-03-06T22:00:53.4140804Z'
                    content:
                      aS2:
                        receiveAgreement:
                          protocolSettings:
                            acknowledgementConnectionSettings:
                              ignoreCertificateNameMismatch: true
                              keepHttpConnectionAlive: true
                              supportHttpStatusCodeContinue: true
                              unfoldHttpHeaders: true
                            envelopeSettings:
                              autogenerateFileName: true
                              fileNameTemplate: Test
                              messageContentType: text/plain
                              suspendMessageOnFileNameGenerationError: true
                              transmitFileNameInMimeHeader: true
                            errorSettings:
                              resendIfMDNNotReceived: true
                              suspendDuplicateMessage: true
                            mdnSettings:
                              dispositionNotificationTo: http://tempuri.org
                              mdnText: Sample
                              micHashingAlgorithm: None
                              needMDN: true
                              receiptDeliveryUrl: http://tempuri.org
                              sendInboundMdnToMessageBox: true
                              sendMDNAsynchronously: true
                              signMDN: true
                              signOutboundMdnIfOptional: true
                            messageConnectionSettings:
                              ignoreCertificateNameMismatch: true
                              keepHttpConnectionAlive: true
                              supportHttpStatusCodeContinue: true
                              unfoldHttpHeaders: true
                            securitySettings:
                              enableNRRForInboundDecodedMessages: true
                              enableNRRForInboundEncodedMessages: true
                              enableNRRForInboundMDN: true
                              enableNRRForOutboundDecodedMessages: true
                              enableNRRForOutboundEncodedMessages: true
                              enableNRRForOutboundMDN: true
                              overrideGroupSigningCertificate: false
                            validationSettings:
                              checkCertificateRevocationListOnReceive: true
                              checkCertificateRevocationListOnSend: true
                              checkDuplicateMessage: true
                              compressMessage: true
                              encryptMessage: false
                              encryptionAlgorithm: AES128
                              interchangeDuplicatesValidityDays: 100
                              overrideMessageProperties: true
                              signMessage: false
                          receiverBusinessIdentity:
                            qualifier: ZZ
                            value: ZZ
                          senderBusinessIdentity:
                            qualifier: AA
                            value: AA
                        sendAgreement:
                          protocolSettings:
                            acknowledgementConnectionSettings:
                              ignoreCertificateNameMismatch: true
                              keepHttpConnectionAlive: true
                              supportHttpStatusCodeContinue: true
                              unfoldHttpHeaders: true
                            envelopeSettings:
                              autogenerateFileName: true
                              fileNameTemplate: Test
                              messageContentType: text/plain
                              suspendMessageOnFileNameGenerationError: true
                              transmitFileNameInMimeHeader: true
                            errorSettings:
                              resendIfMDNNotReceived: true
                              suspendDuplicateMessage: true
                            mdnSettings:
                              dispositionNotificationTo: http://tempuri.org
                              mdnText: Sample
                              micHashingAlgorithm: None
                              needMDN: true
                              receiptDeliveryUrl: http://tempuri.org
                              sendInboundMdnToMessageBox: true
                              sendMDNAsynchronously: true
                              signMDN: true
                              signOutboundMdnIfOptional: true
                            messageConnectionSettings:
                              ignoreCertificateNameMismatch: true
                              keepHttpConnectionAlive: true
                              supportHttpStatusCodeContinue: true
                              unfoldHttpHeaders: true
                            securitySettings:
                              enableNRRForInboundDecodedMessages: true
                              enableNRRForInboundEncodedMessages: true
                              enableNRRForInboundMDN: true
                              enableNRRForOutboundDecodedMessages: true
                              enableNRRForOutboundEncodedMessages: true
                              enableNRRForOutboundMDN: true
                              overrideGroupSigningCertificate: false
                            validationSettings:
                              checkCertificateRevocationListOnReceive: true
                              checkCertificateRevocationListOnSend: true
                              checkDuplicateMessage: true
                              compressMessage: true
                              encryptMessage: false
                              encryptionAlgorithm: AES128
                              interchangeDuplicatesValidityDays: 100
                              overrideMessageProperties: true
                              signMessage: false
                          receiverBusinessIdentity:
                            qualifier: AA
                            value: AA
                          senderBusinessIdentity:
                            qualifier: ZZ
                            value: ZZ
                    createdTime: '2017-03-06T22:00:53.4134038Z'
                    guestIdentity:
                      qualifier: AA
                      value: AA
                    guestPartner: GuestPartner
                    hostIdentity:
                      qualifier: ZZ
                      value: ZZ
                    hostPartner: HostPartner
                    metadata: {}
                  type: Microsoft.Logic/integrationAccounts/agreements
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                  name: <IntegrationAccountAgreementName>
                  properties:
                    agreementType: Edifact
                    changedTime: '2017-03-06T22:00:53.8212345Z'
                    content:
                      edifact:
                        receiveAgreement:
                          protocolSettings:
                            acknowledgementSettings:
                              acknowledgementControlNumberLowerBound: 1
                              acknowledgementControlNumberPrefix: ''
                              acknowledgementControlNumberSuffix: ''
                              acknowledgementControlNumberUpperBound: 99999999
                              batchFunctionalAcknowledgements: true
                              batchTechnicalAcknowledgements: true
                              needFunctionalAcknowledgement: false
                              needLoopForValidMessages: false
                              needTechnicalAcknowledgement: true
                              rolloverAcknowledgementControlNumber: true
                              sendSynchronousAcknowledgement: true
                            envelopeSettings:
                              applicationReferenceId: '0'
                              applyDelimiterStringAdvice: true
                              communicationAgreementId: '0'
                              createGroupingSegments: true
                              enableDefaultGroupHeaders: true
                              functionalGroupId: '0'
                              groupApplicationPassword: '0'
                              groupApplicationReceiverId: '0'
                              groupApplicationReceiverQualifier: ZZZ
                              groupApplicationSenderId: AAA
                              groupApplicationSenderQualifier: ZZZ
                              groupAssociationAssignedCode: '0'
                              groupControlNumberLowerBound: 1
                              groupControlNumberPrefix: CU
                              groupControlNumberSuffix: NUM
                              groupControlNumberUpperBound: 99999999
                              groupControllingAgencyCode: '0'
                              groupMessageRelease: '0.0'
                              groupMessageVersion: '0.0'
                              interchangeControlNumberLowerBound: 1
                              interchangeControlNumberPrefix: CU
                              interchangeControlNumberSuffix: NUM
                              interchangeControlNumberUpperBound: 99999999
                              isTestInterchange: true
                              overwriteExistingTransactionSetControlNumber: true
                              processingPriorityCode: '0'
                              receiverInternalIdentification: '0'
                              receiverInternalSubIdentification: '0'
                              recipientReferencePasswordQualifier: ZZ
                              recipientReferencePasswordValue: AA
                              rolloverGroupControlNumber: true
                              rolloverInterchangeControlNumber: true
                              rolloverTransactionSetControlNumber: true
                              senderInternalIdentification: AA
                              senderInternalSubIdentification: AA
                              transactionSetControlNumberLowerBound: 1
                              transactionSetControlNumberPrefix: ''
                              transactionSetControlNumberSuffix: ''
                              transactionSetControlNumberUpperBound: 99999999
                            framingSettings:
                              characterEncoding: UTF
                              characterSet: UNOC
                              componentSeparator: 58
                              dataElementSeparator: 53
                              decimalPointIndicator: Comma
                              protocolVersion: 4
                              releaseIndicator: 63
                              repetitionSeparator: 42
                              segmentTerminator: 39
                              segmentTerminatorSuffix: None
                            messageFilter:
                              messageFilterType: Exclude
                            processingSettings:
                              createEmptyXmlTagsForTrailingSeparators: true
                              maskSecurityInfo: true
                              preserveInterchange: true
                              suspendInterchangeOnError: true
                              useDotAsDecimalSeparator: true
                            schemaReferences: []
                            validationSettings:
                              allowLeadingAndTrailingSpacesAndZeroes: true
                              checkDuplicateGroupControlNumber: true
                              checkDuplicateInterchangeControlNumber: true
                              checkDuplicateTransactionSetControlNumber: true
                              interchangeControlNumberValidityDays: 30
                              trailingSeparatorPolicy: Optional
                              trimLeadingAndTrailingSpacesAndZeroes: true
                              validateCharacterSet: true
                              validateEDITypes: true
                              validateXSDTypes: true
                          receiverBusinessIdentity:
                            qualifier: ZZ
                            value: ZZ
                          senderBusinessIdentity:
                            qualifier: AA
                            value: AA
                        sendAgreement:
                          protocolSettings:
                            acknowledgementSettings:
                              acknowledgementControlNumberLowerBound: 1
                              acknowledgementControlNumberPrefix: CN
                              acknowledgementControlNumberSuffix: NUM
                              acknowledgementControlNumberUpperBound: 999999999
                              batchFunctionalAcknowledgements: true
                              batchTechnicalAcknowledgements: true
                              needFunctionalAcknowledgement: true
                              needLoopForValidMessages: true
                              needTechnicalAcknowledgement: true
                              rolloverAcknowledgementControlNumber: true
                              sendSynchronousAcknowledgement: true
                            envelopeSettings:
                              applicationReferenceId: '0'
                              applyDelimiterStringAdvice: true
                              communicationAgreementId: '0'
                              createGroupingSegments: true
                              enableDefaultGroupHeaders: true
                              functionalGroupId: '0'
                              groupApplicationPassword: '0'
                              groupApplicationReceiverId: '0'
                              groupApplicationReceiverQualifier: ZZ
                              groupApplicationSenderId: AA
                              groupApplicationSenderQualifier: ZZ
                              groupAssociationAssignedCode: '0'
                              groupControlNumberLowerBound: 1
                              groupControlNumberPrefix: ''
                              groupControlNumberSuffix: ''
                              groupControlNumberUpperBound: 999999999
                              groupControllingAgencyCode: '0'
                              groupMessageRelease: '0.0'
                              groupMessageVersion: '0.0'
                              interchangeControlNumberLowerBound: 1
                              interchangeControlNumberPrefix: CU
                              interchangeControlNumberSuffix: NUM
                              interchangeControlNumberUpperBound: 999999999
                              isTestInterchange: true
                              overwriteExistingTransactionSetControlNumber: true
                              processingPriorityCode: '0'
                              receiverInternalIdentification: '0'
                              receiverInternalSubIdentification: '0'
                              recipientReferencePasswordQualifier: ZZ
                              recipientReferencePasswordValue: AA
                              rolloverGroupControlNumber: true
                              rolloverInterchangeControlNumber: true
                              rolloverTransactionSetControlNumber: true
                              senderInternalIdentification: AA
                              senderInternalSubIdentification: AA
                              transactionSetControlNumberLowerBound: 1
                              transactionSetControlNumberPrefix: ''
                              transactionSetControlNumberSuffix: ''
                              transactionSetControlNumberUpperBound: 999999999
                            framingSettings:
                              characterEncoding: UTF
                              characterSet: UNOC
                              componentSeparator: 58
                              dataElementSeparator: 53
                              decimalPointIndicator: Comma
                              protocolVersion: 4
                              releaseIndicator: 63
                              repetitionSeparator: 42
                              segmentTerminator: 39
                              segmentTerminatorSuffix: None
                            messageFilter:
                              messageFilterType: Exclude
                            processingSettings:
                              createEmptyXmlTagsForTrailingSeparators: true
                              maskSecurityInfo: true
                              preserveInterchange: true
                              suspendInterchangeOnError: true
                              useDotAsDecimalSeparator: true
                            schemaReferences: []
                            validationSettings:
                              allowLeadingAndTrailingSpacesAndZeroes: true
                              checkDuplicateGroupControlNumber: true
                              checkDuplicateInterchangeControlNumber: true
                              checkDuplicateTransactionSetControlNumber: true
                              interchangeControlNumberValidityDays: 30
                              trailingSeparatorPolicy: Optional
                              trimLeadingAndTrailingSpacesAndZeroes: true
                              validateCharacterSet: true
                              validateEDITypes: true
                              validateXSDTypes: true
                          receiverBusinessIdentity:
                            qualifier: ZZ
                            value: ZZ
                          senderBusinessIdentity:
                            qualifier: AA
                            value: AA
                    createdTime: '2017-03-06T22:00:53.8205121Z'
                    guestIdentity:
                      qualifier: AA
                      value: AA
                    guestPartner: GuestPartner
                    hostIdentity:
                      qualifier: ZZ
                      value: ZZ
                    hostPartner: HostPartner
                    metadata: {}
                  type: Microsoft.Logic/integrationAccounts/agreements
      x-ms-odata: '#/definitions/IntegrationAccountAgreementFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Integration Account Agreements_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}
  : delete:
      description: Deletes an integration account agreement.
      operationId: IntegrationAccountAgreements_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountAgreements
      x-ms-examples:
        Delete an agreement:
          parameters:
            agreementName: testAgreement
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Account Agreements_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets an integration account agreement.
      operationId: IntegrationAccountAgreements_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountAgreements
      x-ms-examples:
        Get agreement by name:
          parameters:
            agreementName: testAgreement
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: '2017-03-06T22:32:54.2945291Z'
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: AA
                          value: AA
                        senderBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                  createdTime: '2017-03-06T22:32:54.2938748Z'
                  guestIdentity:
                    qualifier: AA
                    value: AA
                  guestPartner: GuestPartner
                  hostIdentity:
                    qualifier: ZZ
                    value: ZZ
                  hostPartner: HostPartner
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/agreements
      summary: Azure Logic Apps Integration Account Agreements_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Creates or updates an integration account agreement.
      operationId: IntegrationAccountAgreements_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The integration account agreement.
        in: body
        name: agreement
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountAgreement'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountAgreements
      x-ms-examples:
        Create or update an agreement:
          parameters:
            agreement:
              location: westus
              properties:
                agreementType: AS2
                content:
                  aS2:
                    receiveAgreement:
                      protocolSettings:
                        acknowledgementConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        envelopeSettings:
                          autogenerateFileName: true
                          fileNameTemplate: Test
                          messageContentType: text/plain
                          suspendMessageOnFileNameGenerationError: true
                          transmitFileNameInMimeHeader: true
                        errorSettings:
                          resendIfMDNNotReceived: true
                          suspendDuplicateMessage: true
                        mdnSettings:
                          dispositionNotificationTo: http://tempuri.org
                          mdnText: Sample
                          micHashingAlgorithm: SHA1
                          needMDN: true
                          receiptDeliveryUrl: http://tempuri.org
                          sendInboundMdnToMessageBox: true
                          sendMDNAsynchronously: true
                          signMDN: true
                          signOutboundMdnIfOptional: true
                        messageConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        securitySettings:
                          enableNRRForInboundDecodedMessages: true
                          enableNRRForInboundEncodedMessages: true
                          enableNRRForInboundMDN: true
                          enableNRRForOutboundDecodedMessages: true
                          enableNRRForOutboundEncodedMessages: true
                          enableNRRForOutboundMDN: true
                          overrideGroupSigningCertificate: false
                        validationSettings:
                          checkCertificateRevocationListOnReceive: true
                          checkCertificateRevocationListOnSend: true
                          checkDuplicateMessage: true
                          compressMessage: true
                          encryptMessage: false
                          encryptionAlgorithm: AES128
                          interchangeDuplicatesValidityDays: 100
                          overrideMessageProperties: true
                          signMessage: false
                      receiverBusinessIdentity:
                        qualifier: ZZ
                        value: ZZ
                      senderBusinessIdentity:
                        qualifier: AA
                        value: AA
                    sendAgreement:
                      protocolSettings:
                        acknowledgementConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        envelopeSettings:
                          autogenerateFileName: true
                          fileNameTemplate: Test
                          messageContentType: text/plain
                          suspendMessageOnFileNameGenerationError: true
                          transmitFileNameInMimeHeader: true
                        errorSettings:
                          resendIfMDNNotReceived: true
                          suspendDuplicateMessage: true
                        mdnSettings:
                          dispositionNotificationTo: http://tempuri.org
                          mdnText: Sample
                          micHashingAlgorithm: SHA1
                          needMDN: true
                          receiptDeliveryUrl: http://tempuri.org
                          sendInboundMdnToMessageBox: true
                          sendMDNAsynchronously: true
                          signMDN: true
                          signOutboundMdnIfOptional: true
                        messageConnectionSettings:
                          ignoreCertificateNameMismatch: true
                          keepHttpConnectionAlive: true
                          supportHttpStatusCodeContinue: true
                          unfoldHttpHeaders: true
                        securitySettings:
                          enableNRRForInboundDecodedMessages: true
                          enableNRRForInboundEncodedMessages: true
                          enableNRRForInboundMDN: true
                          enableNRRForOutboundDecodedMessages: true
                          enableNRRForOutboundEncodedMessages: true
                          enableNRRForOutboundMDN: true
                          overrideGroupSigningCertificate: false
                        validationSettings:
                          checkCertificateRevocationListOnReceive: true
                          checkCertificateRevocationListOnSend: true
                          checkDuplicateMessage: true
                          compressMessage: true
                          encryptMessage: false
                          encryptionAlgorithm: AES128
                          interchangeDuplicatesValidityDays: 100
                          overrideMessageProperties: true
                          signMessage: false
                      receiverBusinessIdentity:
                        qualifier: AA
                        value: AA
                      senderBusinessIdentity:
                        qualifier: ZZ
                        value: ZZ
                guestIdentity:
                  qualifier: AA
                  value: AA
                guestPartner: GuestPartner
                hostIdentity:
                  qualifier: ZZ
                  value: ZZ
                hostPartner: HostPartner
                metadata: {}
              tags:
                IntegrationAccountAgreement: <IntegrationAccountAgreementName>
            agreementName: testAgreement
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount4533/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: '2017-03-06T22:32:54.2945291Z'
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: AA
                          value: AA
                        senderBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                  createdTime: '2017-03-06T22:32:54.2938748Z'
                  guestIdentity:
                    qualifier: AA
                    value: AA
                  guestPartner: GuestPartner
                  hostIdentity:
                    qualifier: ZZ
                    value: ZZ
                  hostPartner: HostPartner
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/agreements
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount4533/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: '2017-03-06T22:32:54.2945291Z'
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: AA
                          value: AA
                        senderBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                  createdTime: '2017-03-06T22:32:54.2938748Z'
                  guestIdentity:
                    qualifier: AA
                    value: AA
                  guestPartner: GuestPartner
                  hostIdentity:
                    qualifier: ZZ
                    value: ZZ
                  hostPartner: HostPartner
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/agreements
      summary: Azure Logic Apps Integration Account Agreements_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}/listContentCallbackUrl
  : post:
      description: Get the content callback url.
      operationId: IntegrationAccountAgreements_ListContentCallbackUrl
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - in: body
        name: listContentCallbackUrl
        required: true
        schema:
          $ref: '#/definitions/GetCallbackUrlParameters'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountAgreements
      x-ms-examples:
        Get the content callback url:
          parameters:
            agreementName: testAgreement
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            listContentCallbackUrl:
              keyType: Primary
              notAfter: '2018-04-19T16:00:00Z'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                basePath: https://prod-00.westus.logic.azure.com/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/agreements/testAgreement/contents/Value
                method: GET
                queries:
                  api-version: 2015-08-01-preview
                value: https://prod-00.westus.logic.azure.com:443/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/agreements/testAgreement/contents/Value?api-version=2015-08-01-preview&sp=%2Fagreements%2FtestAgreement%2Fread&sv=1.0&sig=VK_mbQPTHTa3ezhsrI8IctckwjlL3GdJmroQH_baYj4
      summary: Azure Logic Apps Integration Account Agreements_ List Content Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  AgreementContent:
    description: The integration account agreement content.
    properties:
      aS2:
        $ref: '#/definitions/AS2AgreementContent'
        description: The AS2 agreement content.
      edifact:
        $ref: '#/definitions/EdifactAgreementContent'
        description: The EDIFACT agreement content.
      x12:
        $ref: '#/definitions/X12AgreementContent'
        description: The X12 agreement content.
    type: object
  EdifactAcknowledgementSettings:
    description: The Edifact agreement acknowledgement settings.
    properties:
      acknowledgementControlNumberLowerBound:
        description: The acknowledgement control number lower bound.
        format: int32
        type: integer
      acknowledgementControlNumberPrefix:
        description: The acknowledgement control number prefix.
        type: string
      acknowledgementControlNumberSuffix:
        description: The acknowledgement control number suffix.
        type: string
      acknowledgementControlNumberUpperBound:
        description: The acknowledgement control number upper bound.
        format: int32
        type: integer
      batchFunctionalAcknowledgements:
        description: The value indicating whether to batch functional acknowledgements.
        type: boolean
      batchTechnicalAcknowledgements:
        description: The value indicating whether to batch the technical acknowledgements.
        type: boolean
      needFunctionalAcknowledgement:
        description: The value indicating whether functional acknowledgement is needed.
        type: boolean
      needLoopForValidMessages:
        description: The value indicating whether a loop is needed for valid messages.
        type: boolean
      needTechnicalAcknowledgement:
        description: The value indicating whether technical acknowledgement is needed.
        type: boolean
      rolloverAcknowledgementControlNumber:
        description: The value indicating whether to rollover acknowledgement control number.
        type: boolean
      sendSynchronousAcknowledgement:
        description: The value indicating whether to send synchronous acknowledgement.
        type: boolean
    required:
    - needTechnicalAcknowledgement
    - batchTechnicalAcknowledgements
    - needFunctionalAcknowledgement
    - batchFunctionalAcknowledgements
    - needLoopForValidMessages
    - sendSynchronousAcknowledgement
    - acknowledgementControlNumberLowerBound
    - acknowledgementControlNumberUpperBound
    - rolloverAcknowledgementControlNumber
    type: object
  AS2OneWayAgreement:
    description: The integration account AS2 one-way agreement.
    properties:
      protocolSettings:
        $ref: '#/definitions/AS2ProtocolSettings'
        description: The AS2 protocol settings.
      receiverBusinessIdentity:
        $ref: '#/definitions/BusinessIdentity'
        description: The receiver business identity
      senderBusinessIdentity:
        $ref: '#/definitions/BusinessIdentity'
        description: The sender business identity
    required:
    - senderBusinessIdentity
    - receiverBusinessIdentity
    - protocolSettings
    type: object
  EdifactProtocolSettings:
    description: The Edifact agreement protocol settings.
    properties:
      acknowledgementSettings:
        $ref: '#/definitions/EdifactAcknowledgementSettings'
        description: The EDIFACT acknowledgement settings.
      edifactDelimiterOverrides:
        description: The EDIFACT delimiter override settings.
        items:
          $ref: '#/definitions/EdifactDelimiterOverride'
        type: array
      envelopeOverrides:
        description: The EDIFACT envelope override settings.
        items:
          $ref: '#/definitions/EdifactEnvelopeOverride'
        type: array
      envelopeSettings:
        $ref: '#/definitions/EdifactEnvelopeSettings'
        description: The EDIFACT envelope settings.
      framingSettings:
        $ref: '#/definitions/EdifactFramingSettings'
        description: The EDIFACT framing settings.
      messageFilter:
        $ref: '#/definitions/EdifactMessageFilter'
        description: The EDIFACT message filter.
      messageFilterList:
        description: The EDIFACT message filter list.
        items:
          $ref: '#/definitions/EdifactMessageIdentifier'
        type: array
      processingSettings:
        $ref: '#/definitions/EdifactProcessingSettings'
        description: The EDIFACT processing Settings.
      schemaReferences:
        description: The EDIFACT schema references.
        items:
          $ref: '#/definitions/EdifactSchemaReference'
        type: array
      validationOverrides:
        description: The EDIFACT validation override settings.
        items:
          $ref: '#/definitions/EdifactValidationOverride'
        type: array
      validationSettings:
        $ref: '#/definitions/EdifactValidationSettings'
        description: The EDIFACT validation settings.
    required:
    - validationSettings
    - framingSettings
    - envelopeSettings
    - acknowledgementSettings
    - messageFilter
    - processingSettings
    - schemaReferences
    type: object
  ErrorProperties:
    description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  IntegrationAccountAgreement:
    allOf:
    - $ref: '#/definitions/Resource'
    description: The integration account agreement.
    properties:
      properties:
        $ref: '#/definitions/IntegrationAccountAgreementProperties'
        description: The integration account agreement properties.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  EdifactDecimalIndicator:
    description: The edifact decimal indicator.
    enum:
    - NotSpecified
    - Comma
    - Decimal
    type: string
    x-ms-enum:
      modelAsString: false
      name: EdifactDecimalIndicator
  TrailingSeparatorPolicy:
    description: The trailing separator policy.
    enum:
    - NotSpecified
    - NotAllowed
    - Optional
    - Mandatory
    type: string
    x-ms-enum:
      modelAsString: true
      name: TrailingSeparatorPolicy
  X12MessageIdentifier:
    description: The X12 message identifier.
    properties:
      messageId:
        description: The message id.
        type: string
    required:
    - messageId
    type: object
  EdifactSchemaReference:
    description: The Edifact schema reference.
    properties:
      associationAssignedCode:
        description: The association assigned code.
        type: string
      messageId:
        description: The message id.
        type: string
      messageRelease:
        description: The message release version.
        type: string
      messageVersion:
        description: The message version.
        type: string
      schemaName:
        description: The schema name.
        type: string
      senderApplicationId:
        description: The sender application id.
        type: string
      senderApplicationQualifier:
        description: The sender application qualifier.
        type: string
    required:
    - messageId
    - messageVersion
    - messageRelease
    - schemaName
    type: object
  X12MessageFilter:
    description: The X12 message filter for odata query.
    properties:
      messageFilterType:
        $ref: '#/definitions/MessageFilterType'
        description: The message filter type.
    required:
    - messageFilterType
    type: object
  AS2ErrorSettings:
    description: The AS2 agreement error settings.
    properties:
      resendIfMDNNotReceived:
        description: The value indicating whether to resend message If MDN is not received.
        type: boolean
      suspendDuplicateMessage:
        description: The value indicating whether to suspend duplicate message.
        type: boolean
    required:
    - suspendDuplicateMessage
    - resendIfMDNNotReceived
    type: object
  AS2MessageConnectionSettings:
    description: The AS2 agreement message connection settings.
    properties:
      ignoreCertificateNameMismatch:
        description: The value indicating whether to ignore mismatch in certificate name.
        type: boolean
      keepHttpConnectionAlive:
        description: The value indicating whether to keep the connection alive.
        type: boolean
      supportHttpStatusCodeContinue:
        description: The value indicating whether to support HTTP status code 'CONTINUE'.
        type: boolean
      unfoldHttpHeaders:
        description: The value indicating whether to unfold the HTTP headers.
        type: boolean
    required:
    - ignoreCertificateNameMismatch
    - supportHttpStatusCodeContinue
    - keepHttpConnectionAlive
    - unfoldHttpHeaders
    type: object
  Resource:
    description: The base resource type.
    properties:
      id:
        description: The resource id.
        readOnly: true
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  EdifactAgreementContent:
    description: The Edifact agreement content.
    properties:
      receiveAgreement:
        $ref: '#/definitions/EdifactOneWayAgreement'
        description: The EDIFACT one-way receive agreement.
      sendAgreement:
        $ref: '#/definitions/EdifactOneWayAgreement'
        description: The EDIFACT one-way send agreement.
    required:
    - receiveAgreement
    - sendAgreement
    type: object
  WorkflowTriggerListCallbackUrlQueries:
    description: Gets the workflow trigger callback URL query parameters.
    properties:
      api-version:
        description: The api version.
        type: string
      se:
        description: The SAS timestamp.
        type: string
      sig:
        description: The SAS signature.
        type: string
      sp:
        description: The SAS permissions.
        type: string
      sv:
        description: The SAS version.
        type: string
    type: object
  EdifactProcessingSettings:
    description: The Edifact agreement protocol settings.
    properties:
      createEmptyXmlTagsForTrailingSeparators:
        description: The value indicating whether to create empty xml tags for trailing separators.
        type: boolean
      maskSecurityInfo:
        description: The value indicating whether to mask security information.
        type: boolean
      preserveInterchange:
        description: The value indicating whether to preserve interchange.
        type: boolean
      suspendInterchangeOnError:
        description: The value indicating whether to suspend interchange on error.
        type: boolean
      useDotAsDecimalSeparator:
        description: The value indicating whether to use dot as decimal separator.
        type: boolean
    required:
    - maskSecurityInfo
    - preserveInterchange
    - suspendInterchangeOnError
    - createEmptyXmlTagsForTrailingSeparators
    - useDotAsDecimalSeparator
    type: object
  KeyType:
    description: The key type.
    enum:
    - NotSpecified
    - Primary
    - Secondary
    type: string
    x-ms-enum:
      modelAsString: true
      name: KeyType
  AS2SecuritySettings:
    description: The AS2 agreement security settings.
    properties:
      enableNRRForInboundDecodedMessages:
        description: The value indicating whether to enable NRR for inbound decoded messages.
        type: boolean
      enableNRRForInboundEncodedMessages:
        description: The value indicating whether to enable NRR for inbound encoded messages.
        type: boolean
      enableNRRForInboundMDN:
        description: The value indicating whether to enable NRR for inbound MDN.
        type: boolean
      enableNRRForOutboundDecodedMessages:
        description: The value indicating whether to enable NRR for outbound decoded messages.
        type: boolean
      enableNRRForOutboundEncodedMessages:
        description: The value indicating whether to enable NRR for outbound encoded messages.
        type: boolean
      enableNRRForOutboundMDN:
        description: The value indicating whether to enable NRR for outbound MDN.
        type: boolean
      encryptionCertificateName:
        description: The name of the encryption certificate.
        type: string
      overrideGroupSigningCertificate:
        description: The value indicating whether to send or request a MDN.
        type: boolean
      sha2AlgorithmFormat:
        description: The Sha2 algorithm format. Valid values are Sha2, ShaHashSize, ShaHyphenHashSize, Sha2UnderscoreHashSize.
        type: string
      signingCertificateName:
        description: The name of the signing certificate.
        type: string
    required:
    - overrideGroupSigningCertificate
    - enableNRRForInboundEncodedMessages
    - enableNRRForInboundDecodedMessages
    - enableNRRForOutboundMDN
    - enableNRRForOutboundEncodedMessages
    - enableNRRForOutboundDecodedMessages
    - enableNRRForInboundMDN
    type: object
  AS2EnvelopeSettings:
    description: The AS2 agreement envelope settings.
    properties:
      autogenerateFileName:
        description: The value indicating whether to auto generate file name.
        type: boolean
      fileNameTemplate:
        description: The template for file name.
        type: string
      messageContentType:
        description: The message content type.
        type: string
      suspendMessageOnFileNameGenerationError:
        description: The value indicating whether to suspend message on file name generation error.
        type: boolean
      transmitFileNameInMimeHeader:
        description: The value indicating whether to transmit file name in mime header.
        type: boolean
    required:
    - messageContentType
    - transmitFileNameInMimeHeader
    - fileNameTemplate
    - suspendMessageOnFileNameGenerationError
    - autogenerateFileName
    type: object
  GetCallbackUrlParameters:
    description: The callback url parameters.
    properties:
      keyType:
        $ref: '#/definitions/KeyType'
        description: The key type.
      notAfter:
        description: The expiry time.
        format: date-time
        type: string
    type: object
  X12EnvelopeSettings:
    description: The X12 agreement envelope settings.
    properties:
      controlStandardsId:
        description: The controls standards id.
        format: int32
        type: integer
      controlVersionNumber:
        description: The control version number.
        type: string
      enableDefaultGroupHeaders:
        description: The value indicating whether to enable default group headers.
        type: boolean
      functionalGroupId:
        description: The functional group id.
        type: string
      groupControlNumberLowerBound:
        description: The group control number lower bound.
        format: int32
        type: integer
      groupControlNumberUpperBound:
        description: The group control number upper bound.
        format: int32
        type: integer
      groupHeaderAgencyCode:
        description: The group header agency code.
        type: string
      groupHeaderDateFormat:
        $ref: '#/definitions/X12DateFormat'
        description: The group header date format.
      groupHeaderTimeFormat:
        $ref: '#/definitions/X12TimeFormat'
        description: The group header time format.
      groupHeaderVersion:
        description: The group header version.
        type: string
      interchangeControlNumberLowerBound:
        description: The interchange  control number lower bound.
        format: int32
        type: integer
      interchangeControlNumberUpperBound:
        description: The interchange  control number upper bound.
        format: int32
        type: integer
      overwriteExistingTransactionSetControlNumber:
        description: The value indicating whether to overwrite existing transaction set control number.
        type: boolean
      receiverApplicationId:
        description: The receiver application id.
        type: string
      rolloverGroupControlNumber:
        description: The value indicating whether to rollover group control number.
        type: boolean
      rolloverInterchangeControlNumber:
        description: The value indicating whether to rollover interchange control number.
        type: boolean
      rolloverTransactionSetControlNumber:
        description: The value indicating whether to rollover transaction set control number.
        type: boolean
      senderApplicationId:
        description: The sender application id.
        type: string
      transactionSetControlNumberLowerBound:
        description: The transaction set control number lower bound.
        format: int32
        type: integer
      transactionSetControlNumberPrefix:
        description: The transaction set control number prefix.
        type: string
      transactionSetControlNumberSuffix:
        description: The transaction set control number suffix.
        type: string
      transactionSetControlNumberUpperBound:
        description: The transaction set control number upper bound.
        format: int32
        type: integer
      usageIndicator:
        $ref: '#/definitions/UsageIndicator'
        description: The usage indicator.
      useControlStandardsIdAsRepetitionCharacter:
        description: The value indicating whether to use control standards id as repetition character.
        type: boolean
    required:
    - controlStandardsId
    - useControlStandardsIdAsRepetitionCharacter
    - senderApplicationId
    - receiverApplicationId
    - controlVersionNumber
    - interchangeControlNumberLowerBound
    - interchangeControlNumberUpperBound
    - rolloverInterchangeControlNumber
    - enableDefaultGroupHeaders
    - groupControlNumberLowerBound
    - groupControlNumberUpperBound
    - rolloverGroupControlNumber
    - groupHeaderAgencyCode
    - groupHeaderVersion
    - transactionSetControlNumberLowerBound
    - transactionSetControlNumberUpperBound
    - rolloverTransactionSetControlNumber
    - overwriteExistingTransactionSetControlNumber
    - groupHeaderDateFormat
    - groupHeaderTimeFormat
    - usageIndicator
    type: object
  X12CharacterSet:
    description: The X12 character set.
    enum:
    - NotSpecified
    - Basic
    - Extended
    - UTF8
    type: string
    x-ms-enum:
      modelAsString: true
      name: X12CharacterSet
  HashingAlgorithm:
    description: The signing or hashing algorithm.
    enum:
    - NotSpecified
    - None
    - MD5
    - SHA1
    - SHA2256
    - SHA2384
    - SHA2512
    type: string
    x-ms-enum:
      modelAsString: true
      name: HashingAlgorithm
  AS2ValidationSettings:
    description: The AS2 agreement validation settings.
    properties:
      checkCertificateRevocationListOnReceive:
        description: The value indicating whether to check for certificate revocation list on receive.
        type: boolean
      checkCertificateRevocationListOnSend:
        description: The value indicating whether to check for certificate revocation list on send.
        type: boolean
      checkDuplicateMessage:
        description: The value indicating whether to check for duplicate message.
        type: boolean
      compressMessage:
        description: The value indicating whether the message has to be compressed.
        type: boolean
      encryptMessage:
        description: The value indicating whether the message has to be encrypted.
        type: boolean
      encryptionAlgorithm:
        $ref: '#/definitions/EncryptionAlgorithm'
        description: The encryption algorithm.
      interchangeDuplicatesValidityDays:
        description: The number of days to look back for duplicate interchange.
        format: int32
        type: integer
      overrideMessageProperties:
        description: The value indicating whether to override incoming message properties with those in agreement.
        type: boolean
      signMessage:
        description: The value indicating whether the message has to be signed.
        type: boolean
      signingAlgorithm:
        $ref: '#/definitions/SigningAlgorithm'
        description: The signing algorithm.
    required:
    - overrideMessageProperties
    - encryptMessage
    - signMessage
    - compressMessage
    - checkDuplicateMessage
    - interchangeDuplicatesValidityDays
    - checkCertificateRevocationListOnSend
    - checkCertificateRevocationListOnReceive
    - encryptionAlgorithm
    type: object
  AgreementType:
    description: The agreement type.
    enum:
    - NotSpecified
    - AS2
    - X12
    - Edifact
    type: string
    x-ms-enum:
      modelAsString: false
      name: AgreementType
  EdifactFramingSettings:
    description: The Edifact agreement framing settings.
    properties:
      characterEncoding:
        description: The character encoding.
        type: string
      characterSet:
        $ref: '#/definitions/EdifactCharacterSet'
        description: The EDIFACT frame setting characterSet.
      componentSeparator:
        description: The component separator.
        format: int32
        type: integer
      dataElementSeparator:
        description: The data element separator.
        format: int32
        type: integer
      decimalPointIndicator:
        $ref: '#/definitions/EdifactDecimalIndicator'
        description: The EDIFACT frame setting decimal indicator.
      protocolVersion:
        description: The protocol version.
        format: int32
        type: integer
      releaseIndicator:
        description: The release indicator.
        format: int32
        type: integer
      repetitionSeparator:
        description: The repetition separator.
        format: int32
        type: integer
      segmentTerminator:
        description: The segment terminator.
        format: int32
        type: integer
      segmentTerminatorSuffix:
        $ref: '#/definitions/SegmentTerminatorSuffix'
        description: The EDIFACT frame setting segment terminator suffix.
      serviceCodeListDirectoryVersion:
        description: The service code list directory version.
        type: string
    required:
    - protocolVersion
    - dataElementSeparator
    - componentSeparator
    - segmentTerminator
    - releaseIndicator
    - repetitionSeparator
    - characterSet
    - decimalPointIndicator
    - segmentTerminatorSuffix
    type: object
  ErrorResponse:
    description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
    properties:
      error:
        $ref: '#/definitions/ErrorProperties'
        description: The error properties.
    type: object
  X12DateFormat:
    description: The x12 date format.
    enum:
    - NotSpecified
    - CCYYMMDD
    - YYMMDD
    type: string
    x-ms-enum:
      modelAsString: true
      name: X12DateFormat
  EdifactEnvelopeSettings:
    description: The Edifact agreement envelope settings.
    properties:
      applicationReferenceId:
        description: The application reference id.
        type: string
      applyDelimiterStringAdvice:
        description: The value indicating whether to apply delimiter string advice.
        type: boolean
      communicationAgreementId:
        description: The communication agreement id.
        type: string
      createGroupingSegments:
        description: The value indicating whether to create grouping segments.
        type: boolean
      enableDefaultGroupHeaders:
        description: The value indicating whether to enable default group headers.
        type: boolean
      functionalGroupId:
        description: The functional group id.
        type: string
      groupApplicationPassword:
        description: The group application password.
        type: string
      groupApplicationReceiverId:
        description: The group application receiver id.
        type: string
      groupApplicationReceiverQualifier:
        description: The group application receiver qualifier.
        type: string
      groupApplicationSenderId:
        description: The group application sender id.
        type: string
      groupApplicationSenderQualifier:
        description: The group application sender qualifier.
        type: string
      groupAssociationAssignedCode:
        description: The group association assigned code.
        type: string
      groupControlNumberLowerBound:
        description: The group control number lower bound.
        format: int64
        type: integer
      groupControlNumberPrefix:
        description: The group control number prefix.
        type: string
      groupControlNumberSuffix:
        description: The group control number suffix.
        type: string
      groupControlNumberUpperBound:
        description: The group control number upper bound.
        format: int64
        type: integer
      groupControllingAgencyCode:
        description: The group controlling agency code.
        type: string
      groupMessageRelease:
        description: The group message release.
        type: string
      groupMessageVersion:
        description: The group message version.
        type: string
      interchangeControlNumberLowerBound:
        description: The interchange control number lower bound.
        format: int64
        type: integer
      interchangeControlNumberPrefix:
        description: The interchange control number prefix.
        type: string
      interchangeControlNumberSuffix:
        description: The interchange control number suffix.
        type: string
      interchangeControlNumberUpperBound:
        description: The interchange control number upper bound.
        format: int64
        type: integer
      isTestInterchange:
        description: The value indicating whether the message is a test interchange.
        type: boolean
      overwriteExistingTransactionSetControlNumber:
        description: The value indicating whether to overwrite existing transaction set control number.
        type: boolean
      processingPriorityCode:
        description: The processing priority code.
        type: string
      receiverInternalIdentification:
        description: The receiver internal identification.
        type: string
      receiverInternalSubIdentification:
        description: The receiver internal sub identification.
        type: string
      receiverReverseRoutingAddress:
        description: The receiver reverse routing address.
        type: string
      recipientReferencePasswordQualifier:
        description: The recipient reference password qualifier.
        type: string
      recipientReferencePasswordValue:
        description: The recipient reference password value.
        type: string
      rolloverGroupControlNumber:
        description: The value indicating whether to rollover group control number.
        type: boolean
      rolloverInterchangeControlNumber:
        description: The value indicating whether to rollover interchange control number.
        type: boolean
      rolloverTransactionSetControlNumber:
        description: The value indicating whether to rollover transaction set control number.
        type: boolean
      senderInternalIdentification:
        description: The sender internal identification.
        type: string
      senderInternalSubIdentification:
        description: The sender internal sub identification.
        type: string
      senderReverseRoutingAddress:
        description: The sender reverse routing address.
        type: string
      transactionSetControlNumberLowerBound:
        description: The transaction set control number lower bound.
        format: int64
        type: integer
      transactionSetControlNumberPrefix:
        description: The transaction set control number prefix.
        type: string
      transactionSetControlNumberSuffix:
        description: The transaction set control number suffix.
        type: string
      transactionSetControlNumberUpperBound:
        description: The transaction set control number upper bound.
        format: int64
        type: integer
    required:
    - applyDelimiterStringAdvice
    - createGroupingSegments
    - enableDefaultGroupHeaders
    - interchangeControlNumberLowerBound
    - interchangeControlNumberUpperBound
    - rolloverInterchangeControlNumber
    - groupControlNumberLowerBound
    - groupControlNumberUpperBound
    - rolloverGroupControlNumber
    - overwriteExistingTransactionSetControlNumber
    - transactionSetControlNumberLowerBound
    - transactionSetControlNumberUpperBound
    - rolloverTransactionSetControlNumber
    - isTestInterchange
    type: object
  AS2AgreementContent:
    description: The integration account AS2 agreement content.
    properties:
      receiveAgreement:
        $ref: '#/definitions/AS2OneWayAgreement'
        description: The AS2 one-way receive agreement.
      sendAgreement:
        $ref: '#/definitions/AS2OneWayAgreement'
        description: The AS2 one-way send agreement.
    required:
    - receiveAgreement
    - sendAgreement
    type: object
  EdifactEnvelopeOverride:
    description: The Edifact envelope override settings.
    properties:
      applicationPassword:
        description: The application password.
        type: string
      associationAssignedCode:
        description: The association assigned code.
        type: string
      controllingAgencyCode:
        description: The controlling agency code.
        type: string
      functionalGroupId:
        description: The functional group id.
        type: string
      groupHeaderMessageRelease:
        description: The group header message release.
        type: string
      groupHeaderMessageVersion:
        description: The group header message version.
        type: string
      messageAssociationAssignedCode:
        description: The message association assigned code.
        type: string
      messageId:
        description: The message id on which this envelope settings has to be applied.
        type: string
      messageRelease:
        description: The message release version on which this envelope settings has to be applied.
        type: string
      messageVersion:
        description: The message version on which this envelope settings has to be applied.
        type: string
      receiverApplicationId:
        description: The receiver application id.
        type: string
      receiverApplicationQualifier:
        description: The receiver application qualifier.
        type: string
      senderApplicationId:
        description: The sender application id.
        type: string
      senderApplicationQualifier:
        description: The sender application qualifier.
        type: string
      targetNamespace:
        description: The target namespace on which this envelope settings has to be applied.
        type: string
    type: object
  AS2ProtocolSettings:
    description: The AS2 agreement protocol settings.
    properties:
      acknowledgementConnectionSettings:
        $ref: '#/definitions/AS2AcknowledgementConnectionSettings'
        description: The acknowledgement connection settings.
      envelopeSettings:
        $ref: '#/definitions/AS2EnvelopeSettings'
        description: The envelope settings.
      errorSettings:
        $ref: '#/definitions/AS2ErrorSettings'
        description: The error settings.
      mdnSettings:
        $ref: '#/definitions/AS2MdnSettings'
        description: The MDN settings.
      messageConnectionSettings:
        $ref: '#/definitions/AS2MessageConnectionSettings'
        description: The message connection settings.
[...]
