openapi: 3.2.0
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient Integration Accounts API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccounts
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts:
    get:
      description: Gets a list of integration accounts by subscription.
      operationId: IntegrationAccounts_ListBySubscription
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      - description: The number of items to be included in the result.
        in: query
        name: $top
        required: false
        example: example-value
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        List integration accounts by subscription:
          parameters:
            api-version: '2019-05-01'
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Logic/integrationAccounts?api-version=2018-07-01-preview&%24skiptoken=<token>
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                  location: northcentralus
                  name: daviburgIAFabrikam
                  properties: {}
                  sku:
                    name: Free
                  type: Microsoft.Logic/integrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Integration Accounts_ List by Subscription
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts:
    get:
      description: Gets a list of integration accounts by resource group.
      operationId: IntegrationAccounts_ListByResourceGroup
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - description: The number of items to be included in the result.
        in: query
        name: $top
        required: false
        example: example-value
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        List integration accounts by resource group name:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount9020
                  location: westus
                  name: IntegrationAccount9020
                  properties: {}
                  sku:
                    name: Standard
                  type: Microsoft.Logic/integrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Integration Accounts_ List by Resource Group
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}
  : delete:
      description: Deletes an integration account.
      operationId: IntegrationAccounts_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Delete an integration account:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Accounts_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets an integration account.
      operationId: IntegrationAccounts_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Get integration account by name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: IntegrationAccount5892
                properties:
                  integrationServiceEnvironment:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationServiceEnvironments/test-integration-service-environment
                    name: test-integration-service-environment
                    type: Microsoft.Logic/integrationServiceEnvironments
                  state: Enabled
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
      summary: Azure Logic Apps Integration Accounts_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Updates an integration account.
      operationId: IntegrationAccounts_Update
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Patch an integration account:
          parameters:
            api-version: '2019-05-01'
            integrationAccount:
              location: westus
              properties: {}
              sku:
                name: Standard
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
      summary: Azure Logic Apps Integration Accounts_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccount'
        description: The integration account.
        required: true
    put:
      description: Creates or updates an integration account.
      operationId: IntegrationAccounts_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Create or update an integration account:
          parameters:
            api-version: '2019-05-01'
            integrationAccount:
              location: westus
              properties: {}
              sku:
                name: Standard
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
      summary: Azure Logic Apps Integration Accounts_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccount'
        description: The integration account.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl
  : post:
      description: Gets the integration account callback URL.
      operationId: IntegrationAccounts_ListCallbackUrl
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackUrl'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        List IntegrationAccount callback URL:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            parameters:
              keyType: Primary
              notAfter: '2017-03-05T08:00:00Z'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value: https://testprod-westus.logic.azure.com:443/integrationAccounts/ce41a499a1e64d95b874f5f14b4bf3b6?api-version=2015-08-01-preview&se=2017-03-17T07%3A00%3A00.0000000Z&sp=%2F%2F%2A&sv=1.0
      summary: Azure Logic Apps Integration Accounts_ List Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        description: The callback URL parameters.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listKeyVaultKeys
  : post:
      description: Gets the integration account's Key Vault keys.
      operationId: IntegrationAccounts_ListKeyVaultKeys
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyVaultKeyCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Get Integration Account callback URL:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            listKeyVaultKeys:
              keyVault:
                id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.KeyVault/vaults/testKeyVault
              skipToken: testSkipToken
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                skipToken: testSkipToken
                value:
                - attributes:
                    created: 1498072075
                    enabled: true
                    updated: 1498072075
                  kid: https://testKeyVault.vault.azure.net/keys/testkey
      x-ms-pageable:
        nextLinkName: null
      summary: Azure Logic Apps Integration Accounts_ List Key Vault Keys
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListKeyVaultKeysDefinition'
        description: The key vault parameters.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/logTrackingEvents
  : post:
      description: Logs the integration account's tracking events.
      operationId: IntegrationAccounts_LogTrackingEvents
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Log a tracked event:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            logTrackingEvents:
              events:
              - error:
                  code: NotFound
                  message: Some error occurred
                eventLevel: Informational
                eventTime: '2016-08-05T01:54:49.505567Z'
                record:
                  agreementProperties:
                    agreementName: testAgreement
                    as2From: testas2from
                    as2To: testas2to
                    receiverPartnerName: testPartner2
                    senderPartnerName: testPartner1
                  messageProperties:
                    IsMessageEncrypted: false
                    IsMessageSigned: false
                    correlationMessageId: Unique message identifier
                    direction: Receive
                    dispositionType: received-success
                    fileName: test
                    isMdnExpected: true
                    isMessageCompressed: false
                    isMessageFailed: false
                    isNrrEnabled: true
                    mdnType: Async
                    messageId: '12345'
                recordType: AS2Message
              sourceType: Microsoft.Logic/workflows
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
      summary: Azure Logic Apps Integration Accounts_ Log Tracking Events
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingEventsDefinition'
        description: The callback URL parameters.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/regenerateAccessKey
  : post:
      description: Regenerates the integration account access key.
      operationId: IntegrationAccounts_RegenerateAccessKey
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccounts
      x-ms-examples:
        Regenerate access key:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            regenerateAccessKey:
              keyType: Primary
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
      summary: Azure Logic Apps Integration Accounts_ Regenerate Access Key
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateActionParameter'
        description: The access key type.
        required: true
components:
  schemas:
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    IntegrationAccountListResult:
      description: The list of integration accounts.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of integration accounts.
          items:
            $ref: '#/components/schemas/IntegrationAccount'
          type: array
      type: object
    TrackingEvent:
      additionalProperties: false
      description: The tracking event.
      properties:
        error:
          $ref: '#/components/schemas/TrackingEventErrorInfo'
          description: The error.
        eventLevel:
          $ref: '#/components/schemas/EventLevel'
          description: The event level.
        eventTime:
          description: The event time.
          format: date-time
          type: string
        recordType:
          $ref: '#/components/schemas/TrackingRecordType'
          description: The record type.
      required:
      - eventLevel
      - eventTime
      - recordType
      type: object
    ListKeyVaultKeysDefinition:
      additionalProperties: false
      description: The list key vault keys definition.
      properties:
        keyVault:
          $ref: '#/components/schemas/KeyVaultReference'
          description: The key vault reference.
        skipToken:
          description: The skip token.
          type: string
      required:
      - keyVault
      type: object
    GetCallbackUrlParameters:
      description: The callback url parameters.
      properties:
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
        notAfter:
          description: The expiry time.
          format: date-time
          type: string
      type: object
    WorkflowState:
      description: The workflow state.
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      type: string
      x-ms-enum:
        modelAsString: true
        name: WorkflowState
    IntegrationServiceEnvironmentAccessEndpoint:
      description: The integration service environment access endpoint.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationServiceEnvironmentAccessEndpointType'
          description: The access endpoint type.
      type: object
    IntegrationAccountProperties:
      description: The integration account properties.
      properties:
        integrationServiceEnvironment:
          $ref: '#/components/schemas/IntegrationServiceEnvironment'
          description: The integration service environment.
        state:
          $ref: '#/components/schemas/WorkflowState'
          description: The workflow state.
      type: object
    Resource:
      description: The base resource type.
      properties:
        id:
          description: The resource id.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    KeyVaultKeyCollection:
      description: Collection of key vault keys.
      properties:
        skipToken:
          description: The skip token.
          type: string
        value:
          description: The key vault keys.
          items:
            $ref: '#/components/schemas/KeyVaultKey'
          type: array
      type: object
    IpAddress:
      description: The ip address.
      properties:
        address:
          description: The address.
          type: string
      type: object
    IntegrationAccountSku:
      description: The integration account sku.
      properties:
        name:
          $ref: '#/components/schemas/IntegrationAccountSkuName'
          description: The sku name.
      required:
      - name
      type: object
    IntegrationServiceEnvironmentSkuName:
      description: The integration service environment sku name.
      enum:
      - NotSpecified
      - Premium
      - Developer
      type: string
      x-ms-enum:
        modelAsString: true
        name: IntegrationServiceEnvironmentSkuName
    TrackingRecordType:
      description: The tracking record type.
      enum:
      - NotSpecified
      - Custom
      - AS2Message
      - AS2MDN
      - X12Interchange
      - X12FunctionalGroup
      - X12TransactionSet
      - X12InterchangeAcknowledgment
      - X12FunctionalGroupAcknowledgment
      - X12TransactionSetAcknowledgment
      - EdifactInterchange
      - EdifactFunctionalGroup
      - EdifactTransactionSet
      - EdifactInterchangeAcknowledgment
      - EdifactFunctionalGroupAcknowledgment
      - EdifactTransactionSetAcknowledgment
      type: string
      x-ms-enum:
        modelAsString: true
        name: TrackingRecordType
    TrackingEventErrorInfo:
      additionalProperties: false
      description: The tracking event error info.
      properties:
        code:
          description: The code.
          type: string
        message:
          description: The message.
          type: string
      type: object
    NetworkConfiguration:
      description: The network configuration.
      properties:
        accessEndpoint:
          $ref: '#/components/schemas/IntegrationServiceEnvironmentAccessEndpoint'
          description: The access endpoint.
        subnets:
          description: The subnets.
          items:
            $ref: '#/components/schemas/ResourceReference'
            description: The subnet.
          type: array
        virtualNetworkAddressSpace:
          description: Gets the virtual network address space.
          type: string
      type: object
    KeyVaultKey:
      description: The key vault key.
      properties:
        attributes:
          description: The key attributes.
          properties:
            created:
              description: When the key was created.
              format: int64
              type: integer
            enabled:
              description: Whether the key is enabled or not.
              type: boolean
            updated:
              description: When the key was updated.
              format: int64
              type: integer
          type: object
        kid:
          description: The key id.
          type: string
      type: object
    IntegrationAccount:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The integration account.
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationAccountProperties'
          description: The integration account properties.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/IntegrationAccountSku'
          description: The sku.
      type: object
    IntegrationAccountSkuName:
      description: The integration account sku name.
      enum:
      - NotSpecified
      - Free
      - Basic
      - Standard
      type: string
      x-ms-enum:
        modelAsString: true
        name: IntegrationAccountSkuName
    WorkflowProvisioningState:
      description: The workflow provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      type: string
      x-ms-enum:
        modelAsString: true
        name: WorkflowProvisioningState
    TrackingEventsDefinition:
      additionalProperties: false
      description: The tracking events definition.
      properties:
        events:
          description: The events.
          items:
            $ref: '#/components/schemas/TrackingEvent'
          type: array
        sourceType:
          description: The source type.
          type: string
        trackEventsOptions:
          $ref: '#/components/schemas/TrackEventsOperationOptions'
          description: The track events options.
      required:
      - sourceType
      - events
      type: object
    TrackEventsOperationOptions:
      description: The track events operation options.
      enum:
      - None
      - DisableSourceInfoEnrich
      type: string
      x-ms-enum:
        modelAsString: true
        name: TrackEventsOperationOptions
    EventLevel:
      description: The event level.
      enum:
      - LogAlways
      - Critical
      - Error
      - Warning
      - Informational
      - Verbose
      type: string
      x-ms-enum:
        modelAsString: false
        name: EventLevel
    IntegrationServiceEnvironmentAccessEndpointType:
      description: The integration service environment access endpoint type.
      enum:
      - NotSpecified
      - External
      - Internal
      type: string
      x-ms-enum:
        modelAsString: true
        name: IntegrationServiceEnvironmentAccessEndpointType
    KeyVaultReference:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      description: The key vault reference.
      properties:
        name:
          description: The key vault name.
          type: string
      type: object
    IntegrationServiceEnvironmentSku:
      description: The integration service environment sku.
      properties:
        capacity:
          description: The sku capacity.
          format: int32
          type: integer
        name:
          $ref: '#/components/schemas/IntegrationServiceEnvironmentSkuName'
          description: The sku name.
      type: object
    RegenerateActionParameter:
      description: The access key regenerate action content.
      properties:
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
      type: object
    CallbackUrl:
      description: The callback url.
      properties:
        value:
          description: The URL value.
          type: string
      type: object
    IntegrationServiceEnvironmentProperties:
      description: The integration service environment properties.
      properties:
        endpointsConfiguration:
          $ref: '#/components/schemas/FlowEndpointsConfiguration'
          description: The endpoints configuration.
        integrationServiceEnvironmentId:
          description: Gets the tracking id.
          type: string
        networkConfiguration:
          $ref: '#/components/schemas/NetworkConfiguration'
          description: The network configuration.
        provisioningState:
          $ref: '#/components/schemas/WorkflowProvisioningState'
          description: The provisioning state.
        state:
          $ref: '#/components/schemas/WorkflowState'
          description: The integration service environment state.
      type: object
    KeyType:
      description: The key type.
      enum:
      - NotSpecified
      - Primary
      - Secondary
      type: string
      x-ms-enum:
        modelAsString: true
        name: KeyType
    FlowEndpointsConfiguration:
      description: The endpoints configuration.
      properties:
        connector:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The connector endpoints.
        workflow:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The workflow endpoints.
      type: object
    ResourceReference:
      description: The resource reference.
      properties:
        id:
          description: The resource id.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      type: object
    FlowEndpoints:
      description: The flow endpoints configuration.
      properties:
        accessEndpointIpAddresses:
          description: The access endpoint ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
            description: The ip address.
          type: array
        outgoingIpAddresses:
          description: The outgoing ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
            description: The ip address.
          type: array
      type: object
    IntegrationServiceEnvironment:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The integration service environment.
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationServiceEnvironmentProperties'
          description: The integration service environment properties.
        sku:
          $ref: '#/components/schemas/IntegrationServiceEnvironmentSku'
          description: The sku.
      type: object
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
      type: object
  parameters:
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
