openapi: 3.2.0
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient Workflow Triggers API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workflow Triggers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers
  : get:
      description: Gets a list of workflow triggers.
      operationId: WorkflowTriggers_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - description: The number of items to be included in the result.
        in: query
        name: $top
        required: false
        example: example-value
        schema:
          type: integer
          format: int32
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        example: example-value
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        List workflow triggers:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/triggers/manual
                  name: manual
                  properties:
                    changedTime: '2018-08-10T18:47:49.5288666Z'
                    createdTime: '2018-08-10T17:32:30.2496336Z'
                    provisioningState: Succeeded
                    state: Enabled
                    workflow:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/versions/08586676800160476478
                      name: 8586676800160476000
                      type: Microsoft.Logic/workflows/versions
                  type: Microsoft.Logic/workflows/triggers
      x-ms-odata: '#/definitions/WorkflowTriggerFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Workflow Triggers_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}
  : get:
      description: Gets a workflow trigger.
      operationId: WorkflowTriggers_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTrigger'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Get a workflow trigger:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: manual
            workflowName: test-workflow
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/triggers/manual
                name: manual
                properties:
                  changedTime: '2018-08-10T18:47:49.5288666Z'
                  createdTime: '2018-08-10T17:32:30.2496336Z'
                  provisioningState: Succeeded
                  state: Enabled
                  workflow:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/versions/08586676800160476478
                    name: 8586676800160476000
                    type: Microsoft.Logic/workflows/versions
                type: Microsoft.Logic/workflows/triggers
      summary: Azure Logic Apps Workflow Triggers_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/listCallbackUrl
  : post:
      description: Get the callback URL for a workflow trigger.
      operationId: WorkflowTriggers_ListCallbackUrl
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Get the callback URL for a trigger:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: manual
            workflowName: test-workflow
          responses:
            '200':
              body:
                basePath: http://test-host:100/workflows/fb9c8d79b15f41ce9b12861862f43546/versions/08587100027316071865/triggers/manualTrigger/paths/invoke
                method: POST
                queries:
                  api-version: 2018-07-01-preview
                  sig: IxEQ_ygZf6WNEQCbjV0Vs6p6Y4DyNEJVAa86U5B4xhk
                  sp: /versions/08587100027316071865/triggers/manualTrigger/run
                  sv: '1.0'
                value: http://test-host:100/workflows/fb9c8d79b15f41ce9b12861862f43546/versions/08587100027316071865/triggers/manualTrigger/paths/invoke?api-version=2015-08-01-preview&sp=%2Fversions%2F08587100027316071865%2Ftriggers%2FmanualTrigger%2Frun&sv=1.0&sig=IxEQ_ygZf6WNEQCbjV0Vs6p6Y4DyNEJVAa86U5B4xhk
      summary: Azure Logic Apps Workflow Triggers_ List Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/reset
  : post:
      description: Resets a workflow trigger.
      operationId: WorkflowTriggers_Reset
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Reset trigger:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: testTrigger
            workflowName: testWorkflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflow Triggers_ Reset
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run
  : post:
      description: Runs a workflow trigger.
      operationId: WorkflowTriggers_Run
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        default:
          description: All status codes are acceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Run a workflow trigger:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: manual
            workflowName: test-workflow
          responses:
            default: {}
      summary: Azure Logic Apps Workflow Triggers_ Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/schemas/json
  : get:
      description: Get the trigger schema as JSON.
      operationId: WorkflowTriggers_GetSchemaJson
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchema'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Get trigger schema:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: testTrigger
            workflowName: testWorkflow
          responses:
            '200':
              body:
                content: JsonContent
                title: JsonTitle
      summary: Azure Logic Apps Workflow Triggers_ Get Schema Json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/setState
  : post:
      description: Sets the state of a workflow trigger.
      operationId: WorkflowTriggers_SetState
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Set trigger state:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: testResourceGroup
            setState:
              source:
                id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/sourceResGroup/providers/Microsoft.Logic/workflows/sourceWorkflow/triggers/sourceTrigger
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: testTrigger
            workflowName: testWorkflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflow Triggers_ Set State
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetTriggerStateActionDefinition'
        description: The workflow trigger state.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}/triggers/{triggerName}/listCallbackUrl
  : post:
      description: Get the callback url for a trigger of a workflow version.
      operationId: WorkflowVersionTriggers_ListCallbackUrl
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow versionId.
        in: path
        name: versionId
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Triggers
      x-ms-examples:
        Get the callback url for a trigger of a workflow version:
          parameters:
            api-version: '2019-05-01'
            parameters:
              keyType: Primary
              notAfter: '2017-03-05T08:00:00Z'
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            triggerName: testTriggerName
            versionId: testWorkflowVersionId
            workflowName: testWorkflowName
          responses:
            '200':
              body:
                basePath: http://test-host:100/workflows/fb9c8d79b15f41ce9b12861862f43546/versions/08587100027316071865/triggers/manualTrigger/paths/invoke
                method: POST
                queries:
                  api-version: 2015-08-01-preview
                  sig: IxEQ_ygZf6WNEQCbjV0Vs6p6Y4DyNEJVAa86U5B4xhk
                  sp: /versions/08587100027316071865/triggers/manualTrigger/run
                  sv: '1.0'
                value: http://test-host:100/workflows/fb9c8d79b15f41ce9b12861862f43546/versions/08587100027316071865/triggers/manualTrigger/paths/invoke?api-version=2015-08-01-preview&sp=%2Fversions%2F08587100027316071865%2Ftriggers%2FmanualTrigger%2Frun&sv=1.0&sig=IxEQ_ygZf6WNEQCbjV0Vs6p6Y4DyNEJVAa86U5B4xhk
      summary: Azure Logic Apps Workflow Version Triggers_ List Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        description: The callback URL parameters.
components:
  schemas:
    RecurrenceScheduleOccurrence:
      description: The recurrence schedule occurrence.
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
          description: The day of the week.
        occurrence:
          description: The occurrence.
          format: int32
          type: integer
      type: object
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Object:
      properties: {}
      type: object
    RecurrenceSchedule:
      description: The recurrence schedule.
      properties:
        hours:
          description: The hours.
          items:
            format: int32
            type: integer
          type: array
        minutes:
          description: The minutes.
          items:
            format: int32
            type: integer
          type: array
        monthDays:
          description: The month days.
          items:
            format: int32
            type: integer
          type: array
        monthlyOccurrences:
          description: The monthly occurrences.
          items:
            $ref: '#/components/schemas/RecurrenceScheduleOccurrence'
          type: array
        weekDays:
          description: The days of the week.
          items:
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            type: string
            x-ms-enum:
              modelAsString: false
              name: DaysOfWeek
          type: array
      type: object
    WorkflowStatus:
      description: The workflow status.
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
      type: string
      x-ms-enum:
        modelAsString: true
        name: WorkflowStatus
    GetCallbackUrlParameters:
      description: The callback url parameters.
      properties:
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
        notAfter:
          description: The expiry time.
          format: date-time
          type: string
      type: object
    WorkflowState:
      description: The workflow state.
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      type: string
      x-ms-enum:
        modelAsString: true
        name: WorkflowState
    WorkflowTriggerProperties:
      description: The workflow trigger properties.
      properties:
        changedTime:
          description: Gets the changed time.
          format: date-time
          readOnly: true
          type: string
        createdTime:
          description: Gets the created time.
          format: date-time
          readOnly: true
          type: string
        lastExecutionTime:
          description: Gets the last execution time.
          format: date-time
          readOnly: true
          type: string
        nextExecutionTime:
          description: Gets the next execution time.
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          $ref: '#/components/schemas/WorkflowTriggerProvisioningState'
          description: Gets the provisioning state.
          readOnly: true
        recurrence:
          $ref: '#/components/schemas/WorkflowTriggerRecurrence'
          description: Gets the workflow trigger recurrence.
          readOnly: true
        state:
          $ref: '#/components/schemas/WorkflowState'
          description: Gets the state.
          readOnly: true
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          description: Gets the status.
          readOnly: true
        workflow:
          $ref: '#/components/schemas/ResourceReference'
          description: Gets the reference to workflow.
          readOnly: true
      type: object
    WorkflowTriggerProvisioningState:
      description: The workflow trigger provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      type: string
      x-ms-enum:
        modelAsString: true
        name: WorkflowTriggerProvisioningState
    WorkflowTriggerRecurrence:
      description: The workflow trigger recurrence.
      properties:
        endTime:
          description: The end time.
          type: string
        frequency:
          $ref: '#/components/schemas/RecurrenceFrequency'
          description: The frequency.
        interval:
          description: The interval.
          format: int32
          type: integer
        schedule:
          $ref: '#/components/schemas/RecurrenceSchedule'
          description: The recurrence schedule.
        startTime:
          description: The start time.
          type: string
        timeZone:
          description: The time zone.
          type: string
      type: object
    WorkflowTrigger:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: The workflow trigger.
      properties:
        name:
          description: Gets the workflow trigger name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowTriggerProperties'
          description: The workflow trigger properties.
          x-ms-client-flatten: true
        type:
          description: Gets the workflow trigger type.
          readOnly: true
          type: string
      type: object
    WorkflowTriggerCallbackUrl:
      description: The workflow trigger callback URL.
      properties:
        basePath:
          description: Gets the workflow trigger callback URL base path.
          readOnly: true
          type: string
        method:
          description: Gets the workflow trigger callback URL HTTP method.
          readOnly: true
          type: string
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
        relativePath:
          description: Gets the workflow trigger callback URL relative path.
          readOnly: true
          type: string
        relativePathParameters:
          description: Gets the workflow trigger callback URL relative path parameters.
          items:
            type: string
          type: array
        value:
          description: Gets the workflow trigger callback URL.
          readOnly: true
          type: string
      type: object
    WorkflowTriggerListResult:
      description: The list of workflow triggers.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of workflow triggers.
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
          type: array
      type: object
    DayOfWeek:
      description: The day of the week.
      enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      type: string
      x-ms-enum:
        modelAsString: false
        name: DayOfWeek
    KeyType:
      description: The key type.
      enum:
      - NotSpecified
      - Primary
      - Secondary
      type: string
      x-ms-enum:
        modelAsString: true
        name: KeyType
    ResourceReference:
      description: The resource reference.
      properties:
        id:
          description: The resource id.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      type: object
    JsonSchema:
      description: The JSON schema.
      properties:
        content:
          description: The JSON content.
          type: string
        title:
          description: The JSON title.
          type: string
      type: object
    RecurrenceFrequency:
      description: The recurrence frequency.
      enum:
      - NotSpecified
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
      type: string
      x-ms-enum:
        modelAsString: true
        name: RecurrenceFrequency
    SubResource:
      description: The sub resource type.
      properties:
        id:
          description: The resource id.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    SetTriggerStateActionDefinition:
      additionalProperties: false
      description: The set trigger state action definition.
      properties:
        source:
          $ref: '#/components/schemas/WorkflowTrigger'
          description: The source.
      required:
      - source
      type: object
    WorkflowTriggerListCallbackUrlQueries:
      description: Gets the workflow trigger callback URL query parameters.
      properties:
        api-version:
          description: The api version.
          type: string
        se:
          description: The SAS timestamp.
          type: string
        sig:
          description: The SAS signature.
          type: string
        sp:
          description: The SAS permissions.
          type: string
        sv:
          description: The SAS version.
          type: string
      type: object
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
      type: object
  parameters:
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
