openapi: 3.2.0
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient Workflow Runs API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workflow Runs
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs:
    get:
      description: Gets a list of workflow runs.
      operationId: WorkflowRuns_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - description: The number of items to be included in the result.
        in: query
        name: $top
        required: false
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The filter to apply on the operation. Options for filters include: Status, StartTime, and ClientTrackingId.'
        in: query
        name: $filter
        required: false
        example: example-value
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Runs
      x-ms-examples:
        List workflow runs:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/runs/08586676746934337772206998657CU22
                  name: 08586676746934337772206998657CU22
                  properties:
                    correlation:
                      clientTrackingId: 08586676746934337772206998657CU22
                    endTime: '2018-08-10T20:16:32.5779999Z'
                    outputs: {}
                    startTime: '2018-08-10T20:16:32.044238Z'
                    status: Succeeded
                    trigger:
                      code: OK
                      correlation:
                        clientTrackingId: 08586676746934337772206998657CU22
                      endTime: '2018-08-10T20:16:32.0387927Z'
                      name: Recurrence
                      scheduledTime: '2018-08-10T20:16:31.6344174Z'
                      startTime: '2018-08-10T20:16:32.0387927Z'
                      status: Succeeded
                    waitEndTime: '2018-08-10T20:16:32.044238Z'
                    workflow:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/versions/08586676754160363885
                      name: 8586676754160364000
                      type: Microsoft.Logic/workflows/versions
                  type: Microsoft.Logic/workflows/runs
      x-ms-odata: '#/definitions/WorkflowRunFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Workflow Runs_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}
  : get:
      description: Gets a workflow run.
      operationId: WorkflowRuns_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow run name.
        in: path
        name: runName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Runs
      x-ms-examples:
        Get a run for a workflow:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            runName: 08586676746934337772206998657CU22
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/runs/08586676746934337772206998657CU22
                name: 08586676746934337772206998657CU22
                properties:
                  correlation:
                    clientTrackingId: 08586676746934337772206998657CU22
                  endTime: '2018-08-10T20:16:32.5779999Z'
                  outputs: {}
                  startTime: '2018-08-10T20:16:32.044238Z'
                  status: Succeeded
                  trigger:
                    code: OK
                    correlation:
                      clientTrackingId: 08586676746934337772206998657CU22
                    endTime: '2018-08-10T20:16:32.0387927Z'
                    name: Recurrence
                    scheduledTime: '2018-08-10T20:16:31.6344174Z'
                    startTime: '2018-08-10T20:16:32.0387927Z'
                    status: Succeeded
                  waitEndTime: '2018-08-10T20:16:32.044238Z'
                  workflow:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/versions/08586676754160363885
                    name: 8586676754160364000
                    type: Microsoft.Logic/workflows/versions
                type: Microsoft.Logic/workflows/runs
      summary: Azure Logic Apps Workflow Runs_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel
  : post:
      description: Cancels a workflow run.
      operationId: WorkflowRuns_Cancel
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        example: example-value
        schema:
          type: string
      - description: The workflow run name.
        in: path
        name: runName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Workflow Runs
      x-ms-examples:
        Cancel a workflow run:
          parameters:
            api-version: '2019-05-01'
            resourceGroupName: test-resource-group
            runName: 08586676746934337772206998657CU22
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workflowName: test-workflow
          responses:
            '200': {}
      summary: Azure Logic Apps Workflow Runs_ Cancel
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ResourceReference:
      description: The resource reference.
      properties:
        id:
          description: The resource id.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      type: object
    WorkflowRunTrigger:
      description: The workflow run trigger.
      properties:
        code:
          description: Gets the code.
          readOnly: true
          type: string
        correlation:
          $ref: '#/components/schemas/Correlation'
          description: The run correlation.
        endTime:
          description: Gets the end time.
          format: date-time
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/Object'
          description: Gets the error.
          readOnly: true
        inputs:
          $ref: '#/components/schemas/Object'
          description: Gets the inputs.
          readOnly: true
        inputsLink:
          $ref: '#/components/schemas/ContentLink'
          description: Gets the link to inputs.
          readOnly: true
        name:
          description: Gets the name.
          readOnly: true
          type: string
        outputs:
          $ref: '#/components/schemas/Object'
          description: Gets the outputs.
          readOnly: true
        outputsLink:
          $ref: '#/components/schemas/ContentLink'
          description: Gets the link to outputs.
          readOnly: true
        scheduledTime:
          description: Gets the scheduled time.
          format: date-time
          readOnly: true
          type: string
        startTime:
          description: Gets the start time.
          format: date-time
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          description: Gets the status.
          readOnly: true
        trackedProperties:
          $ref: '#/components/schemas/Object'
          description: Gets the tracked properties.
          readOnly: true
        trackingId:
          description: Gets the tracking id.
          readOnly: true
          type: string
      type: object
    WorkflowOutputParameter:
      allOf:
      - $ref: '#/components/schemas/WorkflowParameter'
      description: The workflow output parameter.
      properties:
        error:
          $ref: '#/components/schemas/Object'
          description: Gets the error.
          readOnly: true
      type: object
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Correlation:
      description: The correlation property.
      properties:
        clientTrackingId:
          description: The client tracking id.
          type: string
      type: object
    Object:
      properties: {}
      type: object
    WorkflowStatus:
      description: The workflow status.
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
      type: string
      x-ms-enum:
        modelAsString: true
        name: WorkflowStatus
    WorkflowRunListResult:
      description: The list of workflow runs.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of workflow runs.
          items:
            $ref: '#/components/schemas/WorkflowRun'
          type: array
      type: object
    WorkflowRunProperties:
      description: The workflow run properties.
      properties:
        code:
          description: Gets the code.
          readOnly: true
          type: string
        correlation:
          $ref: '#/components/schemas/Correlation'
          description: The run correlation.
        correlationId:
          description: Gets the correlation id.
          readOnly: true
          type: string
        endTime:
          description: Gets the end time.
          format: date-time
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/Object'
          description: Gets the error.
          readOnly: true
        outputs:
          additionalProperties:
            $ref: '#/components/schemas/WorkflowOutputParameter'
            description: The workflow output parameter.
          description: Gets the outputs.
          readOnly: true
          type: object
        response:
          $ref: '#/components/schemas/WorkflowRunTrigger'
          description: Gets the response of the flow run.
          readOnly: true
        startTime:
          description: Gets the start time.
          format: date-time
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          description: Gets the status.
          readOnly: true
        trigger:
          $ref: '#/components/schemas/WorkflowRunTrigger'
          description: Gets the fired trigger.
          readOnly: true
        waitEndTime:
          description: Gets the wait end time.
          format: date-time
          readOnly: true
          type: string
        workflow:
          $ref: '#/components/schemas/ResourceReference'
          description: Gets the reference to workflow version.
          readOnly: true
      type: object
    ParameterType:
      description: The parameter type.
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      type: string
      x-ms-enum:
        modelAsString: true
        name: ParameterType
    WorkflowRun:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: The workflow run.
      properties:
        name:
          description: Gets the workflow run name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowRunProperties'
          description: The workflow run properties.
          x-ms-client-flatten: true
        type:
          description: Gets the workflow run type.
          readOnly: true
          type: string
      type: object
    ContentHash:
      description: The content hash.
      properties:
        algorithm:
          description: The algorithm of the content hash.
          type: string
        value:
          description: The value of the content hash.
          type: string
      type: object
    SubResource:
      description: The sub resource type.
      properties:
        id:
          description: The resource id.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    WorkflowParameter:
      description: The workflow parameters.
      properties:
        description:
          description: The description.
          type: string
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
        type:
          $ref: '#/components/schemas/ParameterType'
          description: The type.
        value:
          $ref: '#/components/schemas/Object'
          description: The value.
      type: object
    ContentLink:
      description: The content link.
      properties:
        contentHash:
          $ref: '#/components/schemas/ContentHash'
          description: The content hash.
        contentSize:
          description: The content size.
          format: int64
          type: integer
        contentVersion:
          description: The content version.
          type: string
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
        uri:
          description: The content link URI.
          type: string
      type: object
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
      type: object
  parameters:
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
