swagger: '2.0'
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient IntegrationAccountAgreements IntegrationAccountCertificates API
  version: '2019-05-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountCertificates
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates
  : get:
      description: Gets a list of integration account certificates.
      operationId: IntegrationAccountCertificates_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificateListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountCertificates
      x-ms-examples:
        Get certificates by integration account name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/certificates/<integrationAccountCertificateName>
                  name: <IntegrationAccountCertificateName>
                  properties:
                    changedTime: '2017-03-06T20:33:09.7032076Z'
                    createdTime: '2017-03-06T20:33:09.7022471Z'
                    key:
                      keyName: <keyName>
                      keyVault:
                        id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/microsoft.keyvault/vaults/<keyVaultName>
                        name: AzureSdkTestKeyVault
                        type: Microsoft.KeyVault/vaults
                      keyVersion: 87d9764197604449b9b8eb7bd8710868
                    publicCertificate: <publicCertificate>
                  type: Microsoft.Logic/integrationAccounts/certificates
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Integration Account Certificates_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}
  : delete:
      description: Deletes an integration account certificate.
      operationId: IntegrationAccountCertificates_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountCertificates
      x-ms-examples:
        Delete a certificate:
          parameters:
            api-version: '2019-05-01'
            certificateName: testCertificate
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Account Certificates_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets an integration account certificate.
      operationId: IntegrationAccountCertificates_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountCertificates
      x-ms-examples:
        Get certificate by name:
          parameters:
            api-version: '2019-05-01'
            certificateName: testCertificate
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount9472/certificates/testCertificate
                name: testCertificate
                properties:
                  changedTime: '2017-03-06T20:42:21.051317Z'
                  createdTime: '2017-03-06T20:42:21.0510202Z'
                  key:
                    keyName: <keyName>
                    keyVault:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/microsoft.keyvault/vaults/<keyVaultName>
                      name: <keyVaultName>
                      type: Microsoft.KeyVault/vaults
                    keyVersion: 87d9764197604449b9b8eb7bd8710868
                  publicCertificate: <publicCertificate>
                type: Microsoft.Logic/integrationAccounts/certificates
      summary: Azure Logic Apps Integration Account Certificates_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Creates or updates an integration account certificate.
      operationId: IntegrationAccountCertificates_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
        example: my-resource-group
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
        example: example-value
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      - description: The integration account certificate.
        in: body
        name: certificate
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountCertificate'
        example: example-value
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - IntegrationAccountCertificates
      x-ms-examples:
        Create or update a certificate:
          parameters:
            api-version: '2019-05-01'
            certificate:
              location: brazilsouth
              properties:
                key:
                  keyName: <keyName>
                  keyVault:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/microsoft.keyvault/vaults/<keyVaultName>
                  keyVersion: 87d9764197604449b9b8eb7bd8710868
                publicCertificate: <publicCertificateValue>
            certificateName: testCertificate
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/certificates/testCertificate
                name: testCertificate
                properties:
                  changedTime: '2017-03-06T20:42:21.051317Z'
                  createdTime: '2017-03-06T20:42:21.0510202Z'
                  key:
                    keyName: <keyName>
                    keyVault:
                      id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourcegroups/flowrg/providers/microsoft.keyvault/vaults/<keyVaultName>
                      name: <keyVaultName>
                      type: Microsoft.KeyVault/vaults
                    keyVersion: 87d9764197604449b9b8eb7bd8710868
                  publicCertificate: <publicCertificateValue>
                type: Microsoft.Logic/integrationAccounts/certificates
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/certificates/testCertificate
                name: testCertificate
                properties:
                  changedTime: '2017-03-06T20:42:21.051317Z'
                  createdTime: '2017-03-06T20:42:21.0510202Z'
                  key:
                    keyName: <keyName>
                    keyVault:
                      id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourcegroups/flowrg/providers/microsoft.keyvault/vaults/<keyVaultName>
                      name: <keyVaultName>
                      type: Microsoft.KeyVault/vaults
                    keyVersion: 87d9764197604449b9b8eb7bd8710868
                  publicCertificate: <publicCertificateValue>
                type: Microsoft.Logic/integrationAccounts/certificates
      summary: Azure Logic Apps Integration Account Certificates_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  IntegrationAccountCertificate:
    allOf:
    - $ref: '#/definitions/Resource'
    description: The integration account certificate.
    properties:
      properties:
        $ref: '#/definitions/IntegrationAccountCertificateProperties'
        description: The integration account certificate properties.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  ErrorProperties:
    description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  IntegrationAccountCertificateListResult:
    description: The list of integration account certificates.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of integration account certificates.
        items:
          $ref: '#/definitions/IntegrationAccountCertificate'
        type: array
    type: object
  Resource:
    description: The base resource type.
    properties:
      id:
        description: The resource id.
        readOnly: true
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ErrorResponse:
    description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
    properties:
      error:
        $ref: '#/definitions/ErrorProperties'
        description: The error properties.
    type: object
  KeyVaultKeyReference:
    description: The reference to the key vault key.
    properties:
      keyName:
        description: The private key name in key vault.
        type: string
      keyVault:
        description: The key vault reference.
        properties:
          id:
            description: The resource id.
            type: string
          name:
            description: The resource name.
            readOnly: true
            type: string
          type:
            description: The resource type.
            readOnly: true
            type: string
        type: object
      keyVersion:
        description: The private key version in key vault.
        type: string
    required:
    - keyVault
    - keyName
    type: object
  IntegrationAccountCertificateProperties:
    description: The integration account certificate properties.
    properties:
      changedTime:
        description: The changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: The created time.
        format: date-time
        readOnly: true
        type: string
      key:
        $ref: '#/definitions/KeyVaultKeyReference'
        description: The key details in the key vault.
      metadata:
        description: The metadata.
        properties: {}
        type: object
      publicCertificate:
        description: The public certificate.
        type: string
    type: object
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
