openapi: 3.2.0
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient IntegrationAccountAgreements Integration Account Maps API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountMaps
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps
  : get:
      description: Gets a list of integration account maps.
      operationId: IntegrationAccountMaps_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - description: The number of items to be included in the result.
        in: query
        name: $top
        required: false
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The filter to apply on the operation. Options for filters include: MapType.'
        in: query
        name: $filter
        required: false
        example: example-value
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMapListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountMaps
      x-ms-examples:
        Get maps by integration account name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/maps/IntegrationAccountMap9943
                  name: IntegrationAccountMap9943
                  properties:
                    changedTime: '2017-02-24T18:34:32.390576Z'
                    contentLink:
                      contentHash:
                        algorithm: md5
                        value: A2avz/M0ov2FPI3+Je8vDw==
                      contentSize: 3056
                      contentVersion: '"0x8D45CE3C6D23B4B"'
                      uri: <Uri>
                    createdTime: '2017-02-24T18:34:32.3902373Z'
                    mapType: Xslt
                    metadata: {}
                  type: Microsoft.Logic/integrationAccounts/maps
      x-ms-odata: '#/definitions/IntegrationAccountMapFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Logic Apps Integration Account Maps_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}
  : delete:
      description: Deletes an integration account map.
      operationId: IntegrationAccountMaps_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountMaps
      x-ms-examples:
        Delete a map:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
      summary: Azure Logic Apps Integration Account Maps_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets an integration account map.
      operationId: IntegrationAccountMaps_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountMaps
      x-ms-examples:
        Get map by name:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount/maps/testMap
                name: testMap
                properties:
                  changedTime: '2017-02-24T18:45:23.4137139Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D45CE54B058881"'
                    uri: <Uri>
                  createdTime: '2017-02-24T18:45:23.4129778Z'
                  mapType: Xslt
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/maps
      summary: Azure Logic Apps Integration Account Maps_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Creates or updates an integration account map.
      operationId: IntegrationAccountMaps_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountMap'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountMaps
      x-ms-examples:
        Create or update a map:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            map:
              location: westus
              properties:
                content: "<?xml version=\"1.0\" encoding=\"UTF-16\"?>\n<xsl:stylesheet xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\" xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\" xmlns:var=\"http://schemas.microsoft.com/BizTalk/2003/var\" exclude-result-prefixes=\"msxsl var s0 userCSharp\" version=\"1.0\" xmlns:ns0=\"http://BizTalk_Server_Project4.StringFunctoidsDestinationSchema\" xmlns:s0=\"http://BizTalk_Server_Project4.StringFunctoidsSourceSchema\" xmlns:userCSharp=\"http://schemas.microsoft.com/BizTalk/2003/userCSharp\">\n  <xsl:import href=\"http://btsfunctoids.blob.core.windows.net/functoids/functoids.xslt\" />\n  <xsl:output omit-xml-declaration=\"yes\" method=\"xml\" version=\"1.0\" />\n  <xsl:template match=\"/\">\n    <xsl:apply-templates select=\"/s0:Root\" />\n  </xsl:template>\n  <xsl:template match=\"/s0:Root\">\n    <xsl:variable name=\"var:v1\" select=\"userCSharp:StringFind(string(StringFindSource/text()) , &quot;SearchString&quot;)\" />\n    <xsl:variable name=\"var:v2\" select=\"userCSharp:StringLeft(string(StringLeftSource/text()) , &quot;2&quot;)\" />\n    <xsl:variable name=\"var:v3\" select=\"userCSharp:StringRight(string(StringRightSource/text()) , &quot;2&quot;)\" />\n    <xsl:variable name=\"var:v4\" select=\"userCSharp:StringUpperCase(string(UppercaseSource/text()))\" />\n    <xsl:variable name=\"var:v5\" select=\"userCSharp:StringLowerCase(string(LowercaseSource/text()))\" />\n    <xsl:variable name=\"var:v6\" select=\"userCSharp:StringSize(string(SizeSource/text()))\" />\n    <xsl:variable name=\"var:v7\" select=\"userCSharp:StringSubstring(string(StringExtractSource/text()) , &quot;0&quot; , &quot;2&quot;)\" />\n    <xsl:variable name=\"var:v8\" select=\"userCSharp:StringConcat(string(StringConcatSource/text()))\" />\n    <xsl:variable name=\"var:v9\" select=\"userCSharp:StringTrimLeft(string(StringLeftTrimSource/text()))\" />\n    <xsl:variable name=\"var:v10\" select=\"userCSharp:StringTrimRight(string(StringRightTrimSource/text()))\" />\n    <ns0:Root>\n      <StringFindDestination>\n        <xsl:value-of select=\"$var:v1\" />\n      </StringFindDestination>\n      <StringLeftDestination>\n        <xsl:value-of select=\"$var:v2\" />\n      </StringLeftDestination>\n      <StringRightDestination>\n        <xsl:value-of select=\"$var:v3\" />\n      </StringRightDestination>\n      <UppercaseDestination>\n        <xsl:value-of select=\"$var:v4\" />\n      </UppercaseDestination>\n      <LowercaseDestination>\n        <xsl:value-of select=\"$var:v5\" />\n      </LowercaseDestination>\n      <SizeDestination>\n        <xsl:value-of select=\"$var:v6\" />\n      </SizeDestination>\n      <StringExtractDestination>\n        <xsl:value-of select=\"$var:v7\" />\n      </StringExtractDestination>\n      <StringConcatDestination>\n        <xsl:value-of select=\"$var:v8\" />\n      </StringConcatDestination>\n      <StringLeftTrimDestination>\n        <xsl:value-of select=\"$var:v9\" />\n      </StringLeftTrimDestination>\n      <StringRightTrimDestination>\n        <xsl:value-of select=\"$var:v10\" />\n      </StringRightTrimDestination>\n    </ns0:Root>\n  </xsl:template>\n</xsl:stylesheet>"
                contentType: application/xml
                mapType: Xslt
                metadata: {}
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/<resourceGroup>/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccount>/maps/testMap
                name: IntegrationAccountMap291
                properties:
                  changedTime: '2017-03-06T18:41:04.4088605Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D464C057F22E5F"'
                    uri: <Uri>
                  createdTime: '2017-03-06T18:41:03.7366103Z'
                  mapType: Xslt
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/maps
            '201':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/<resourceGroup>/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccount>/maps/testMap
                name: IntegrationAccountMap291
                properties:
                  changedTime: '2017-03-06T18:41:04.4088605Z'
                  contentLink:
                    contentHash:
                      algorithm: md5
                      value: A2avz/M0ov2FPI3+Je8vDw==
                    contentSize: 3056
                    contentVersion: '"0x8D464C057F22E5F"'
                    uri: <Uri>
                  createdTime: '2017-03-06T18:41:03.7366103Z'
                  mapType: Xslt
                  metadata: {}
                type: Microsoft.Logic/integrationAccounts/maps
      summary: Azure Logic Apps Integration Account Maps_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountMap'
        description: The integration account map.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}/listContentCallbackUrl
  : post:
      description: Get the content callback url.
      operationId: IntegrationAccountMaps_ListContentCallbackUrl
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        example: example-value
        schema:
          type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - IntegrationAccountMaps
      x-ms-examples:
        Get the content callback url:
          parameters:
            api-version: '2019-05-01'
            integrationAccountName: testIntegrationAccount
            listContentCallbackUrl:
              keyType: Primary
              notAfter: '2018-04-19T16:00:00Z'
            mapName: testMap
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                basePath: https://prod-00.brazilus.logic.azure.com/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/maps/testmap/contents/Value
                method: GET
                queries:
                  api-version: 2015-08-01-preview
                value: https://prod-00.westus.logic.azure.com:443/integrationAccounts/0fdabc3a76514ca48dede71c73d9fe97/maps/testMap/contents/Value?api-version=2015-08-01-preview&sp=%2Fmaps%2Ftestmap%2Fread&sv=1.0&sig=VK_mbQPTHTa3ezhsrI8IctckwjlL3GdJmroQH_baYj4
      summary: Azure Logic Apps Integration Account Maps_ List Content Callback Url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        required: true
components:
  schemas:
    ContentLink:
      description: The content link.
      properties:
        contentHash:
          $ref: '#/components/schemas/ContentHash'
          description: The content hash.
        contentSize:
          description: The content size.
          format: int64
          type: integer
        contentVersion:
          description: The content version.
          type: string
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
        uri:
          description: The content link URI.
          type: string
      type: object
    GetCallbackUrlParameters:
      description: The callback url parameters.
      properties:
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
        notAfter:
          description: The expiry time.
          format: date-time
          type: string
      type: object
    IntegrationAccountMap:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The integration account map.
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationAccountMapProperties'
          description: The integration account map properties.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    KeyType:
      description: The key type.
      enum:
      - NotSpecified
      - Primary
      - Secondary
      type: string
      x-ms-enum:
        modelAsString: true
        name: KeyType
    MapType:
      description: The map type.
      enum:
      - NotSpecified
      - Xslt
      - Xslt20
      - Xslt30
      - Liquid
      type: string
      x-ms-enum:
        modelAsString: true
        name: MapType
    WorkflowTriggerCallbackUrl:
      description: The workflow trigger callback URL.
      properties:
        basePath:
          description: Gets the workflow trigger callback URL base path.
          readOnly: true
          type: string
        method:
          description: Gets the workflow trigger callback URL HTTP method.
          readOnly: true
          type: string
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
        relativePath:
          description: Gets the workflow trigger callback URL relative path.
          readOnly: true
          type: string
        relativePathParameters:
          description: Gets the workflow trigger callback URL relative path parameters.
          items:
            type: string
          type: array
        value:
          description: Gets the workflow trigger callback URL.
          readOnly: true
          type: string
      type: object
    ContentHash:
      description: The content hash.
      properties:
        algorithm:
          description: The algorithm of the content hash.
          type: string
        value:
          description: The value of the content hash.
          type: string
      type: object
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    WorkflowTriggerListCallbackUrlQueries:
      description: Gets the workflow trigger callback URL query parameters.
      properties:
        api-version:
          description: The api version.
          type: string
        se:
          description: The SAS timestamp.
          type: string
        sig:
          description: The SAS signature.
          type: string
        sp:
          description: The SAS permissions.
          type: string
        sv:
          description: The SAS version.
          type: string
      type: object
    Object:
      properties: {}
      type: object
    IntegrationAccountMapListResult:
      description: The list of integration account maps.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of integration account maps.
          items:
            $ref: '#/components/schemas/IntegrationAccountMap'
          type: array
      type: object
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
      type: object
    IntegrationAccountMapProperties:
      description: The integration account map.
      properties:
        changedTime:
          description: The changed time.
          format: date-time
          readOnly: true
          type: string
        content:
          description: The content.
          properties: {}
          type: string
        contentLink:
          $ref: '#/components/schemas/ContentLink'
          description: The content link.
          readOnly: true
        contentType:
          description: The content type.
          type: string
        createdTime:
          description: The created time.
          format: date-time
          readOnly: true
          type: string
        mapType:
          $ref: '#/components/schemas/MapType'
          description: The map type.
        metadata:
          description: The metadata.
          properties: {}
          type: object
        parametersSchema:
          description: The parameters schema of integration account map.
          properties:
            ref:
              description: The reference name.
              type: string
          type: object
      required:
      - mapType
      type: object
    Resource:
      description: The base resource type.
      properties:
        id:
          description: The resource id.
          readOnly: true
          type: string
        location:
          description: The resource location.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          type: object
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
  parameters:
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
